interactions:
- request:
    body: !!python/unicode '{"name": "TestCopy.test_dx_to_dx_same_project_exist_dest.33f871c0"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k6Gj0QKBQq5P81088Yy46"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k6Gj0QKBQq5P81088Yy46/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k6Gj0QKBQq5P81088Yy46","name":"TestCopy.test_dx_to_dx_same_project_exist_dest.33f871c0","class":"project","created":1540592435000,"modified":1540592435000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k6Gj0QKBQq5P81088Yy46/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k6Gj0QKBQq5P81088Yy46"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder_file.txt", "project": "project-FP9k6Gj0QKBQq5P81088Yy46",
      "folder": "/temp_folder", "nonce": "dd0d580f4c3f77a5541dc39f99476275ffa32bbbce2d9140b1136582ac4304111540592435.414858"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k6Gj0QKBz10qyFXkfFBXX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k6Gj0QKBQq5P81088Yy46/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k6Gj0QKBQq5P81088Yy46","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 5, "md5": "73dfff57fe24e807bd4fb1bc4e07cd73",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6Gj0QKBz10qyFXkfFBXX/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/2ddd/file/open/file-FP9k6Gj0QKBz10qyFXkfFBXX/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222035Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=8f00b4ceb03ea424a4eb25cb6f2d0cc4d2061fe2779c837874490b088094bee4","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"c9//V/4k6Ae9T7G8TgfNcw=="},"expires":1540592555749}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data0
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [c9//V/4k6Ae9T7G8TgfNcw==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/2ddd/file/open/file-FP9k6Gj0QKBz10qyFXkfFBXX/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222035Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=8f00b4ceb03ea424a4eb25cb6f2d0cc4d2061fe2779c837874490b088094bee4
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"73dfff57fe24e807bd4fb1bc4e07cd73"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [5553C19A470205CB]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k6Gj0QKBQq5P81088Yy46", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6Gj0QKBz10qyFXkfFBXX/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k6Gj0QKBz10qyFXkfFBXX","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6Gj0QKBz10qyFXkfFBXX/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k6Gj0QKBz10qyFXkfFBXX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"size": 5, "md5": "89d903bc35dede724fd52c51437ff5fd",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6J00QKBb88FB44yY4Zb8/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/473f/file/open/file-FP9k6J00QKBb88FB44yY4Zb8/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222037Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=c6202cdc852a7d1293f2b8c03b9461bee8253dc1187056d40eef16c606eac8f6","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"idkDvDXe3nJP1SxRQ3/1/Q=="},"expires":1540592557149}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data1
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [idkDvDXe3nJP1SxRQ3/1/Q==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/473f/file/open/file-FP9k6J00QKBb88FB44yY4Zb8/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222037Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=c6202cdc852a7d1293f2b8c03b9461bee8253dc1187056d40eef16c606eac8f6
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"89d903bc35dede724fd52c51437ff5fd"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [BF1E5D34BFD3EDEB]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k6Gj0QKBQq5P81088Yy46", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6J00QKBb88FB44yY4Zb8/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k6J00QKBb88FB44yY4Zb8","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6J00QKBb88FB44yY4Zb8/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k6J00QKBb88FB44yY4Zb8"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"size": 5, "md5": "ff9cf2d690d888cb337f6bf4526b6130",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6J80QKBz10qyFXkfFBXZ/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/a0a2/file/open/file-FP9k6J80QKBz10qyFXkfFBXZ/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222038Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=ba58e3e56aa4e4cf064ee0ba937c5402bf892940fe28bcee968ce878edc65732","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"/5zy1pDYiMszf2v0UmthMA=="},"expires":1540592558037}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data2
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [/5zy1pDYiMszf2v0UmthMA==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/a0a2/file/open/file-FP9k6J80QKBz10qyFXkfFBXZ/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222038Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=ba58e3e56aa4e4cf064ee0ba937c5402bf892940fe28bcee968ce878edc65732
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"ff9cf2d690d888cb337f6bf4526b6130"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [E4F6B4146194B949]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k6Gj0QKBQq5P81088Yy46", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6J80QKBz10qyFXkfFBXZ/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k6J80QKBz10qyFXkfFBXZ","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6J80QKBz10qyFXkfFBXZ/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k6J80QKBz10qyFXkfFBXZ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestCopy.test_dx_to_dx_same_project_exist_dest.33f871c0",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k6Gj0QKBQq5P81088Yy46","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"name": "folder_file.txt", "project": "project-FP9k6Gj0QKBQq5P81088Yy46",
      "batchsize": 2, "folder": "/temp_folder"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FP9k6Gj0QKBQq5P81088Yy46","id":"file-FP9k6Gj0QKBz10qyFXkfFBXX"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k6Gj0QKBQq5P81088Yy46"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6Gj0QKBz10qyFXkfFBXX/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k6Gj0QKBz10qyFXkfFBXX","project":"project-FP9k6Gj0QKBQq5P81088Yy46","class":"file","sponsored":false,"name":"folder_file.txt","types":[],"state":"closed","hidden":false,"links":[],"folder":"/temp_folder","tags":[],"created":1540592435000,"modified":1540592437199,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":5}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/another_folder/random_file.txt", "describe": {"fields": {"name": true, "folder":
      true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k6Gj0QKBQq5P81088Yy46/listFolder
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        specified folder could not be found in project-FP9k6Gj0QKBQq5P81088Yy46"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"objects": ["file-FP9k6J00QKBb88FB44yY4Zb8"]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k6Gj0QKBQq5P81088Yy46/removeObjects
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k6Gj0QKBQq5P81088Yy46"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"destination": "/another_folder", "objects": ["file-FP9k6Gj0QKBz10qyFXkfFBXX"]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k6Gj0QKBQq5P81088Yy46/move
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k6Gj0QKBQq5P81088Yy46"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "random_file.txt", "project": "project-FP9k6Gj0QKBQq5P81088Yy46"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k6Gj0QKBz10qyFXkfFBXX/rename
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k6Gj0QKBz10qyFXkfFBXX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/another_folder", "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k6Gj0QKBQq5P81088Yy46/listFolder
  response:
    body: {string: !!python/unicode '{"folders":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k6Gj0QKBQq5P81088Yy46/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k6Gj0QKBQq5P81088Yy46"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
