interactions:
- request:
    body: !!python/unicode '{"name": "TestCopy.test_empty_path.3cc6f518"}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body:
      string: !!python/unicode '{"id":"project-FXFPP480b103x9yg6QGfJKqX"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/project-FXFPP480b103x9yg6QGfJKqX/describe
  response:
    body:
      string: !!python/unicode '{"id":"project-FXFPP480b103x9yg6QGfJKqX","name":"TestCopy.test_empty_path.3cc6f518","class":"project","created":1553397649000,"modified":1553397649000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/project-FXFPP480b103x9yg6QGfJKqX/destroy
  response:
    body:
      string: !!python/unicode '{"id":"project-FXFPP480b103x9yg6QGfJKqX"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
