interactions:
- request:
    body: !!python/unicode '{"name": "TestListDir.test_listdir_on_canonical_resource.e409d6ec"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2PQ0bvbfzyV6JkV1p4JB"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k2PQ0bvbfzyV6JkV1p4JB/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2PQ0bvbfzyV6JkV1p4JB","name":"TestListDir.test_listdir_on_canonical_resource.e409d6ec","class":"project","created":1540591934000,"modified":1540591934000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k2PQ0bvbfzyV6JkV1p4JB/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2PQ0bvbfzyV6JkV1p4JB"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "temp_file.txt", "project": "project-FP9k2PQ0bvbfzyV6JkV1p4JB",
      "folder": "/", "nonce": "9c1ff9120b04010ddefdae9f5b357b6781176f66f5ffc7e22671bd3157013eac1540591934.999340"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k2Pj0bvbzvv365P3k8Zpy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k2PQ0bvbfzyV6JkV1p4JB/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2PQ0bvbfzyV6JkV1p4JB","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 5, "md5": "73dfff57fe24e807bd4fb1bc4e07cd73",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2Pj0bvbzvv365P3k8Zpy/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0c38/file/open/file-FP9k2Pj0bvbzvv365P3k8Zpy/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221215Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=a404ad6f21d4236c0be649d394ec3860f3e8299d9cad8d98954cbf0d519b3cda","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"c9//V/4k6Ae9T7G8TgfNcw=="},"expires":1540592055322}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data0
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [c9//V/4k6Ae9T7G8TgfNcw==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0c38/file/open/file-FP9k2Pj0bvbzvv365P3k8Zpy/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221215Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=a404ad6f21d4236c0be649d394ec3860f3e8299d9cad8d98954cbf0d519b3cda
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"73dfff57fe24e807bd4fb1bc4e07cd73"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [8F7699DC255F05DD]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k2PQ0bvbfzyV6JkV1p4JB", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2Pj0bvbzvv365P3k8Zpy/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k2Pj0bvbzvv365P3k8Zpy","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2Pj0bvbzvv365P3k8Zpy/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k2Pj0bvbzvv365P3k8Zpy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestListDir.test_listdir_on_canonical_resource.e409d6ec",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k2PQ0bvbfzyV6JkV1p4JB","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"name": "temp_file.txt", "project": "project-FP9k2PQ0bvbfzyV6JkV1p4JB",
      "batchsize": 2, "folder": "/"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FP9k2PQ0bvbfzyV6JkV1p4JB","id":"file-FP9k2Pj0bvbzvv365P3k8Zpy"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FP9k2PQ0bvbfzyV6JkV1p4JB"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2Pj0bvbzvv365P3k8Zpy/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k2Pj0bvbzvv365P3k8Zpy","project":"project-FP9k2PQ0bvbfzyV6JkV1p4JB","class":"file","sponsored":false,"name":"temp_file.txt","types":[],"state":"closing","hidden":false,"links":[],"folder":"/","tags":[],"created":1540591935000,"modified":1540591936010,"createdBy":{"user":"user-akumar_counsyl"},"media":"","archivalState":"live"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "all", "folder": "/file-FP9k2Pj0bvbzvv365P3k8Zpy",
      "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k2PQ0bvbfzyV6JkV1p4JB/listFolder
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        specified folder could not be found in project-FP9k2PQ0bvbfzyV6JkV1p4JB"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k2PQ0bvbfzyV6JkV1p4JB/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2PQ0bvbfzyV6JkV1p4JB"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
