interactions:
- request:
    body: !!python/unicode '{"name": "TestCopy.test_dx_to_dx_file_folder_no_ext.6a8e41cf"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY7gQ0gf4GVV2X1Z5bX2jP"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7gQ0gf4GVV2X1Z5bX2jP/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY7gQ0gf4GVV2X1Z5bX2jP","name":"TestCopy.test_dx_to_dx_file_folder_no_ext.6a8e41cf","class":"project","created":1542140894000,"modified":1542140894000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"folder": "/temp_folder", "parents": true}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7gQ0gf4GVV2X1Z5bX2jP/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY7gQ0gf4GVV2X1Z5bX2jP"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPbY7gQ0gf4GVV2X1Z5bX2jP", "nonce":
      "ec0bf944c03514496e08990dbe4f83c5f1646bff1c5cedc1c6bdf365ac6a46f01542140894.795351",
      "folder": "/temp_folder", "name": "folder_file.txt"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPbY7gQ0gf46KjvF1pF3yv2v"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7gQ0gf4GVV2X1Z5bX2jP/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY7gQ0gf4GVV2X1Z5bX2jP","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"index": 1, "size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbY7gQ0gf46KjvF1pF3yv2v/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/af90/file/open/file-FPbY7gQ0gf46KjvF1pF3yv2v/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181113%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181113T202815Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=3c96a24dedfa1e2bd029ead55cdea7ad59155e07e0f716528666a984d3c99fa9","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1542141015068}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/af90/file/open/file-FPbY7gQ0gf46KjvF1pF3yv2v/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181113%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181113T202815Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=3c96a24dedfa1e2bd029ead55cdea7ad59155e07e0f716528666a984d3c99fa9
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Wed, 05 Dec 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [63ADC36F77599829]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPbY7gQ0gf4GVV2X1Z5bX2jP", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbY7gQ0gf46KjvF1pF3yv2v/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPbY7gQ0gf46KjvF1pF3yv2v","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbY7gQ0gf46KjvF1pF3yv2v/close
  response:
    body: {string: !!python/unicode '{"id":"file-FPbY7gQ0gf46KjvF1pF3yv2v"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestCopy.test_dx_to_dx_file_folder_no_ext.6a8e41cf",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPbY7gQ0gf4GVV2X1Z5bX2jP","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"project": "project-FPbY7gQ0gf4GVV2X1Z5bX2jP",
      "folder": "/temp_folder", "name": "folder_file.txt", "batchsize": 2}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FPbY7gQ0gf4GVV2X1Z5bX2jP","id":"file-FPbY7gQ0gf46KjvF1pF3yv2v"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPbY7gQ0gf4GVV2X1Z5bX2jP"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbY7gQ0gf46KjvF1pF3yv2v/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPbY7gQ0gf46KjvF1pF3yv2v","project":"project-FPbY7gQ0gf4GVV2X1Z5bX2jP","class":"file","sponsored":false,"name":"folder_file.txt","types":[],"state":"closed","hidden":false,"links":[],"folder":"/temp_folder","tags":[],"created":1542140894000,"modified":1542140896272,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":4}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"folder": "/random/file", "describe": {"fields": {"folder":
      true, "name": true}}, "only": "folders", "includeHidden": false}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7j80PZqGVV2X1Z5bX2jX/listFolder
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        specified folder could not be found in project-FPbY7j80PZqGVV2X1Z5bX2jX"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"folder": "/random", "parents": true}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7j80PZqGVV2X1Z5bX2jX/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY7j80PZqGVV2X1Z5bX2jX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPbY7j80PZqGVV2X1Z5bX2jX", "destination":
      "/random", "objects": ["file-FPbY7gQ0gf46KjvF1pF3yv2v"]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7gQ0gf4GVV2X1Z5bX2jP/clone
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY7gQ0gf4GVV2X1Z5bX2jP","project":"project-FPbY7j80PZqGVV2X1Z5bX2jX","exists":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPbY7j80PZqGVV2X1Z5bX2jX", "name":
      "file"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbY7gQ0gf46KjvF1pF3yv2v/rename
  response:
    body: {string: !!python/unicode '{"id":"file-FPbY7gQ0gf46KjvF1pF3yv2v"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"objects": ["file-FPbY7gQ0gf46KjvF1pF3yv2v"]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7j80PZqGVV2X1Z5bX2jX/removeObjects
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY7j80PZqGVV2X1Z5bX2jX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"folder": "/random", "describe": {"fields": {"folder":
      true, "name": true}}, "only": "folders", "includeHidden": false}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7j80PZqGVV2X1Z5bX2jX/listFolder
  response:
    body: {string: !!python/unicode '{"folders":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7j80PZqGVV2X1Z5bX2jX/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY7j80PZqGVV2X1Z5bX2jX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY7gQ0gf4GVV2X1Z5bX2jP/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY7gQ0gf4GVV2X1Z5bX2jP"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
