*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.tox
stor*/*.egg-info/*
stor*/.eggs/
.*cache/
stor*/.*cache/
*.egg/*
.eggs/
*.egg-info/*
stor*/build/*
build/*
docs/_build/*
stor*/dist/*

*.log
nosetests*.xml

.coverage
coverage.xml
coverage

test.db
.venv

*.sublime-workspace
.python-version
