*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.tox
*.egg/*
.eggs/
*.egg-info/*
build/*
docs/_build/*
dist/*

*.log
nosetests*.xml

.coverage
coverage.xml
coverage

test.db
.venv

*.sublime-workspace
.python-version
