include AUTHORS
include LICENSE
include README.md
include stor*/requirements*.txt
include stor/stor/default.cfg
include stor/stor/default.env
include stor/stor/stor-completion.bash
prune stor*/stor*/tests
exclude Makefile
