counsyl_backoff
path.py>=8.1.2
python-keystoneclient>=1.8.1

# Use patched version of python-swiftclient since it does not deal with
# directory content type issues properly. This issue is noted in the
# README of this fork at https://github.counsyl.com/dev/counsyl-swiftclient
counsyl-swiftclient27>=1.0.3
