counsyl_backoff
path.py>=8.1.2
python-keystoneclient>=1.8.1

# Use patched version of python-swiftclient since it does not deal with
# directory content type issues properly
counsyl-swiftclient>=1.0.2
