boto3==1.4.0
cached_property
counsyl_backoff
python-keystoneclient>=1.8.1

# Use patched version of python-swiftclient since it does not deal with
# directory content type issues properly. This issue is noted in the
# README of this fork at https://github.counsyl.com/dev/counsyl-swiftclient
counsyl-swiftclient>=1.1.1
