interactions:
- request:
    body: !!python/unicode '{"name": "TestExists.test_true_canonical_project.6d0756ee"}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body:
      string: !!python/unicode '{"id":"project-FXBVvp000V3kf6K624b0zfY0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/project-FXBVvp000V3kf6K624b0zfY0/describe
  response:
    body:
      string: !!python/unicode '{"id":"project-FXBVvp000V3kf6K624b0zfY0","name":"TestExists.test_true_canonical_project.6d0756ee","class":"project","created":1553276520000,"modified":1553276520000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/project-FXBVvp000V3kf6K624b0zfY0/destroy
  response:
    body:
      string: !!python/unicode '{"id":"project-FXBVvp000V3kf6K624b0zfY0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
