interactions:
- request:
    body: !!python/unicode '{"name": "TestCopy.test_dx_to_dx_diff_project_exist_file.33a662ad"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5q80j2VkfjJK43xBxp99"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5q80j2VkfjJK43xBxp99/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5q80j2VkfjJK43xBxp99","name":"TestCopy.test_dx_to_dx_diff_project_exist_file.33a662ad","class":"project","created":1540592365000,"modified":1540592365000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5q80j2VkfjJK43xBxp99/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5q80j2VkfjJK43xBxp99"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder_file.txt", "project": "project-FP9k5q80j2VkfjJK43xBxp99",
      "folder": "/temp_folder", "nonce": "4931c14682ace68f17d7f21b0c68d0b9e4d94ab2c99f52b92e3627a9f6d8d3dc1540592366.276386"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k5qQ0j2VvPGFV44511f1y"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5q80j2VkfjJK43xBxp99/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5q80j2VkfjJK43xBxp99","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 5, "md5": "73dfff57fe24e807bd4fb1bc4e07cd73",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5qQ0j2VvPGFV44511f1y/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/ae3d/file/open/file-FP9k5qQ0j2VvPGFV44511f1y/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221926Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=0c9ff8d7009ee8aa720fa5cd79b3941da13d6dc51b2fe067d89325b5668aa676","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"c9//V/4k6Ae9T7G8TgfNcw=="},"expires":1540592486596}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data0
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [c9//V/4k6Ae9T7G8TgfNcw==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/ae3d/file/open/file-FP9k5qQ0j2VvPGFV44511f1y/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221926Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=0c9ff8d7009ee8aa720fa5cd79b3941da13d6dc51b2fe067d89325b5668aa676
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"73dfff57fe24e807bd4fb1bc4e07cd73"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [B43CB5C1FA5ED3EC]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k5q80j2VkfjJK43xBxp99", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5qQ0j2VvPGFV44511f1y/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k5qQ0j2VvPGFV44511f1y","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5qQ0j2VvPGFV44511f1y/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k5qQ0j2VvPGFV44511f1y"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"parents": false, "folder": "/folder2"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5qj0Vz9Qq5P81088Yy3q/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5qj0Vz9Qq5P81088Yy3q"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5qj0Vz9Qq5P81088Yy3q/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5qj0Vz9Qq5P81088Yy3q","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5qj0Vz9Qq5P81088Yy3v/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/eda2/file/open/file-FP9k5qj0Vz9Qq5P81088Yy3v/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221928Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=c7b81ca004b1f99bcd892523788354f8c0d22c6a22bb96eadc1dcf8ed0577dd0","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592488043}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/eda2/file/open/file-FP9k5qj0Vz9Qq5P81088Yy3v/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221928Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=c7b81ca004b1f99bcd892523788354f8c0d22c6a22bb96eadc1dcf8ed0577dd0
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [1AE486822ADBC887]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k5qj0Vz9Qq5P81088Yy3q", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5qj0Vz9Qq5P81088Yy3v/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k5qj0Vz9Qq5P81088Yy3v","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5qj0Vz9Qq5P81088Yy3v/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k5qj0Vz9Qq5P81088Yy3v"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5vQ0Vz9ZQ3zV44ZYQ319/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/8880/file/open/file-FP9k5vQ0Vz9ZQ3zV44ZYQ319/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221931Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=3d6b4e0b6a4988ee369beafd84ddaf03d31946f7c53e4766ad505d3092f74636","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592491179}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/8880/file/open/file-FP9k5vQ0Vz9ZQ3zV44ZYQ319/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221931Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=3d6b4e0b6a4988ee369beafd84ddaf03d31946f7c53e4766ad505d3092f74636
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [3C00F9AB97EC102A]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k5qj0Vz9Qq5P81088Yy3q", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5vQ0Vz9ZQ3zV44ZYQ319/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k5vQ0Vz9ZQ3zV44ZYQ319","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5vQ0Vz9ZQ3zV44ZYQ319/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k5vQ0Vz9ZQ3zV44ZYQ319"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestCopy.test_dx_to_dx_diff_project_exist_file.33a662ad",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k5q80j2VkfjJK43xBxp99","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"name": "folder_file.txt", "project": "project-FP9k5q80j2VkfjJK43xBxp99",
      "batchsize": 2, "folder": "/temp_folder"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FP9k5q80j2VkfjJK43xBxp99","id":"file-FP9k5qQ0j2VvPGFV44511f1y"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k5q80j2VkfjJK43xBxp99"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5qQ0j2VvPGFV44511f1y/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k5qQ0j2VvPGFV44511f1y","project":"project-FP9k5q80j2VkfjJK43xBxp99","class":"file","sponsored":false,"name":"folder_file.txt","types":[],"state":"closed","hidden":false,"links":[],"folder":"/temp_folder","tags":[],"created":1540592366000,"modified":1540592368516,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":5}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/dest_file.txt", "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5qj0Vz9Qq5P81088Yy3q/listFolder
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        specified folder could not be found in project-FP9k5qj0Vz9Qq5P81088Yy3q"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"objects": ["file-FP9k5vQ0Vz9ZQ3zV44ZYQ319"]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5qj0Vz9Qq5P81088Yy3q/removeObjects
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5qj0Vz9Qq5P81088Yy3q"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"destination": "/", "project": "project-FP9k5qj0Vz9Qq5P81088Yy3q",
      "objects": ["file-FP9k5qQ0j2VvPGFV44511f1y"]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5q80j2VkfjJK43xBxp99/clone
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5q80j2VkfjJK43xBxp99","project":"project-FP9k5qj0Vz9Qq5P81088Yy3q","exists":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"name": "dest_file.txt", "project": "project-FP9k5qj0Vz9Qq5P81088Yy3q"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k5qQ0j2VvPGFV44511f1y/rename
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k5qQ0j2VvPGFV44511f1y"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/folder2", "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5qj0Vz9Qq5P81088Yy3q/listFolder
  response:
    body: {string: !!python/unicode '{"folders":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5qj0Vz9Qq5P81088Yy3q/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5qj0Vz9Qq5P81088Yy3q"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k5q80j2VkfjJK43xBxp99/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k5q80j2VkfjJK43xBxp99"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
