interactions:
- request:
    body: !!python/unicode '{"name": "TestGlob.test_valid_pattern_wo_wildcard.86c4e2e5"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4P0045qPxYfQJq0Qq9P1"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4P0045qPxYfQJq0Qq9P1/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4P0045qPxYfQJq0Qq9P1","name":"TestGlob.test_valid_pattern_wo_wildcard.86c4e2e5","class":"project","created":1540592188000,"modified":1540592188000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4P0045qPxYfQJq0Qq9P1/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4P0045qPxYfQJq0Qq9P1"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder_file.txt", "project": "project-FP9k4P0045qPxYfQJq0Qq9P1",
      "folder": "/temp_folder", "nonce": "26e6c527d71207d7dc16c067a43889bcffe0b13a19446c93df7009caf9533fef1540592188.512711"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4P0045qFPYg95F286zF3"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4P0045qPxYfQJq0Qq9P1/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4P0045qPxYfQJq0Qq9P1","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 5, "md5": "73dfff57fe24e807bd4fb1bc4e07cd73",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4P0045qFPYg95F286zF3/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/b984/file/open/file-FP9k4P0045qFPYg95F286zF3/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221628Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=7115b8b95626dbe7aa129ba7055a3d3c30acf81d147c3aa8bf4c307f0d31d95a","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"c9//V/4k6Ae9T7G8TgfNcw=="},"expires":1540592308846}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data0
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [c9//V/4k6Ae9T7G8TgfNcw==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/b984/file/open/file-FP9k4P0045qFPYg95F286zF3/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221628Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=7115b8b95626dbe7aa129ba7055a3d3c30acf81d147c3aa8bf4c307f0d31d95a
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"73dfff57fe24e807bd4fb1bc4e07cd73"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [C8AE7912BDD123DB]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k4P0045qPxYfQJq0Qq9P1", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4P0045qFPYg95F286zF3/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4P0045qFPYg95F286zF3","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4P0045qFPYg95F286zF3/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4P0045qFPYg95F286zF3"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"size": 5, "md5": "89d903bc35dede724fd52c51437ff5fd",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4P8045q5VJvpJkZZ2f6J/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/d03c/file/open/file-FP9k4P8045q5VJvpJkZZ2f6J/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221630Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=695a69cfc9a8f2e6afec77d64d02f001cd4a295c21e24e6aee9a49423d9a4f27","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"idkDvDXe3nJP1SxRQ3/1/Q=="},"expires":1540592310060}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data1
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [idkDvDXe3nJP1SxRQ3/1/Q==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/d03c/file/open/file-FP9k4P8045q5VJvpJkZZ2f6J/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221630Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=695a69cfc9a8f2e6afec77d64d02f001cd4a295c21e24e6aee9a49423d9a4f27
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"89d903bc35dede724fd52c51437ff5fd"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [8D52E0C9E62F3964]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k4P0045qPxYfQJq0Qq9P1", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4P8045q5VJvpJkZZ2f6J/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4P8045q5VJvpJkZZ2f6J","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4P8045q5VJvpJkZZ2f6J/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4P8045q5VJvpJkZZ2f6J"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestGlob.test_valid_pattern_wo_wildcard.86c4e2e5",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k4P0045qPxYfQJq0Qq9P1","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 100, "name": {"glob": "file"}, "scope": {"recurse":
      true, "project": "project-FP9k4P0045qPxYfQJq0Qq9P1", "folder": "/temp_folder"},
      "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findDataObjects
  response:
    body: {string: !!python/unicode '{"next":null,"results":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4P0045qPxYfQJq0Qq9P1/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4P0045qPxYfQJq0Qq9P1"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
