interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_read_over_files.4837c962"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XQj04777F9qk5BzYx66J"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FQ07XQj04777F9qk5BzYx66J/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XQj04777F9qk5BzYx66J","name":"TestOpen.test_write_read_over_files.4837c962","class":"project","created":1543534915000,"modified":1543534915000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"level": "VIEW", "limit": 2, "name": "TestOpen.test_write_read_over_files.4837c962"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FQ07XQj04777F9qk5BzYx66J","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"batchsize": 2, "name": "temp_file", "folder":
      "/", "project": "project-FQ07XQj04777F9qk5BzYx66J"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"parents": true, "name": "temp_file", "folder": "/",
      "nonce": "169bbf2dc515378bfb569d4f4635a5d30288f4ad1147812c92966ebdff9b35861543534915.667295",
      "project": "project-FQ07XQj04777F9qk5BzYx66J"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XQj04775Bqyy5Fpxj40v"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FQ07XQj04777F9qk5BzYx66J/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XQj04777F9qk5BzYx66J","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"md5": "51eb50eebfd0e36abe3c09e631399af9", "size": 24,
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XQj04775Bqyy5Fpxj40v/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/b53a/file/open/file-FQ07XQj04775Bqyy5Fpxj40v/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181129T234155Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=32137d6754de604cd98b836bde2a09769cd6aa09eea8763f3bce54be6db92ee7","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"UetQ7r/Q42q+PAnmMTma+Q=="},"expires":1543535035962}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'line1

      line2

      line3

      line4

'
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [UetQ7r/Q42q+PAnmMTma+Q==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/b53a/file/open/file-FQ07XQj04775Bqyy5Fpxj40v/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181129T234155Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=32137d6754de604cd98b836bde2a09769cd6aa09eea8763f3bce54be6db92ee7
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"51eb50eebfd0e36abe3c09e631399af9"']
      x-amz-expiration: ['expiry-date="Fri, 21 Dec 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [A6A8C80579A98D07]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XQj04775Bqyy5Fpxj40v/close
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XQj04775Bqyy5Fpxj40v"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FQ07XQj04777F9qk5BzYx66J", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XQj04775Bqyy5Fpxj40v/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XQj04775Bqyy5Fpxj40v","state":"closing"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FQ07XQj04777F9qk5BzYx66J"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XQj04775Bqyy5Fpxj40v/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XQj04775Bqyy5Fpxj40v","project":"project-FQ07XQj04777F9qk5BzYx66J","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/","tags":[],"created":1543534915000,"modified":1543534917371,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":24}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"preauthenticated": false, "project": "project-FQ07XQj04777F9qk5BzYx66J"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XQj04775Bqyy5Fpxj40v/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FQ07XQj04775Bqyy5Fpxj40v/project-FQ07XQj04777F9qk5BzYx66J","headers":{"X-Authorization":"9rjq7kfS6d6b6x7S8aLC3OKnxdN8Twbr"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      Range: [bytes=0-23]
      X-Authorization: [9rjq7kfS6d6b6x7S8aLC3OKnxdN8Twbr]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FQ07XQj04775Bqyy5Fpxj40v/project-FQ07XQj04777F9qk5BzYx66J
  response:
    body: {string: !!python/unicode 'line1

        line2

        line3

        line4

'}
    headers:
      content-disposition: [attachment]
      content-range: [bytes 0-23/24]
      content-type: [text/plain]
      last-modified: ['Thu, 29 Nov 2018 23:41:58 GMT']
    status: {code: 206, message: Partial Content}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FQ07XQj04777F9qk5BzYx66J/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XQj04777F9qk5BzYx66J"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
