interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_w_settings_big_timeout.6b3f7fdd"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XYQ017vQgfvF8yB1Q64f"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FQ07XYQ017vQgfvF8yB1Q64f/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XYQ017vQgfvF8yB1Q64f","name":"TestOpen.test_write_w_settings_big_timeout.6b3f7fdd","class":"project","created":1543534926000,"modified":1543534926000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"level": "VIEW", "limit": 2, "name": "TestOpen.test_write_w_settings_big_timeout.6b3f7fdd"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FQ07XYQ017vQgfvF8yB1Q64f","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"batchsize": 2, "name": "temp_file", "folder":
      "/", "project": "project-FQ07XYQ017vQgfvF8yB1Q64f"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"parents": true, "name": "temp_file", "folder": "/",
      "nonce": "6c422a5c53e3c3bbd06062251cd223dcd636c1d00b64d525157ede1a4513a7451543534927.125739",
      "project": "project-FQ07XYQ017vQgfvF8yB1Q64f"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XYj017vg3p1F4F8z50yZ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FQ07XYQ017vQgfvF8yB1Q64f/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XYQ017vQgfvF8yB1Q64f","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"md5": "5eb63bbbe01eeed093cb22bb8f5acdc3", "size": 11,
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XYj017vg3p1F4F8z50yZ/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/a73b/file/open/file-FQ07XYj017vg3p1F4F8z50yZ/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181129T234207Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=10b5c2a9f36441df5d89990fbbf620213615f6237e9e228ab5ae8801ac595879","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"XrY7u+Ae7tCTyyK7j1rNww=="},"expires":1543535047538}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode hello world
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/a73b/file/open/file-FQ07XYj017vg3p1F4F8z50yZ/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181129T234207Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=10b5c2a9f36441df5d89990fbbf620213615f6237e9e228ab5ae8801ac595879
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"5eb63bbbe01eeed093cb22bb8f5acdc3"']
      x-amz-expiration: ['expiry-date="Fri, 21 Dec 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [25D281845D565C85]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XYj017vg3p1F4F8z50yZ/close
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XYj017vg3p1F4F8z50yZ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FQ07XYQ017vQgfvF8yB1Q64f", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XYj017vg3p1F4F8z50yZ/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XYj017vg3p1F4F8z50yZ","state":"closing"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FQ07XYQ017vQgfvF8yB1Q64f"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XYj017vg3p1F4F8z50yZ/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XYj017vg3p1F4F8z50yZ","project":"project-FQ07XYQ017vQgfvF8yB1Q64f","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/","tags":[],"created":1543534927000,"modified":1543534929227,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":11}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"preauthenticated": false, "project": "project-FQ07XYQ017vQgfvF8yB1Q64f"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XYj017vg3p1F4F8z50yZ/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FQ07XYj017vg3p1F4F8z50yZ/project-FQ07XYQ017vQgfvF8yB1Q64f","headers":{"X-Authorization":"9rjq7kfS6d6b6x7S8aLC3OKnxdN8Twbr"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      Range: [bytes=0-10]
      X-Authorization: [9rjq7kfS6d6b6x7S8aLC3OKnxdN8Twbr]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FQ07XYj017vg3p1F4F8z50yZ/project-FQ07XYQ017vQgfvF8yB1Q64f
  response:
    body: {string: !!python/unicode hello world}
    headers:
      content-disposition: [attachment]
      content-range: [bytes 0-10/11]
      content-type: [text/plain]
      last-modified: ['Thu, 29 Nov 2018 23:42:09 GMT']
    status: {code: 206, message: Partial Content}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FQ07XYQ017vQgfvF8yB1Q64f/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XYQ017vQgfvF8yB1Q64f"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
