interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_multiple_wo_context_manager.2383a9ed"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XK80xx0jk1Yy5z1QPVfy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FQ07XK80xx0jk1Yy5z1QPVfy/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XK80xx0jk1Yy5z1QPVfy","name":"TestOpen.test_write_multiple_wo_context_manager.2383a9ed","class":"project","created":1543534905000,"modified":1543534905000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"level": "VIEW", "limit": 2, "name": "TestOpen.test_write_multiple_wo_context_manager.2383a9ed"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FQ07XK80xx0jk1Yy5z1QPVfy","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"batchsize": 2, "name": "temp_file", "folder":
      "/", "project": "project-FQ07XK80xx0jk1Yy5z1QPVfy"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"parents": true, "name": "temp_file", "folder": "/",
      "nonce": "1dd72e4177b7f429be18994df5dc68573e4ab12a8d543a6aeb5f7d317c3d34fb1543534906.423945",
      "project": "project-FQ07XK80xx0jk1Yy5z1QPVfy"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XKQ0xx0y01vG60K23QP3"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FQ07XK80xx0jk1Yy5z1QPVfy/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XK80xx0jk1Yy5z1QPVfy","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"md5": "5eb63bbbe01eeed093cb22bb8f5acdc3", "size": 11,
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XKQ0xx0y01vG60K23QP3/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0155/file/open/file-FQ07XKQ0xx0y01vG60K23QP3/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181129T234146Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=14aabed2f7a0982ad1b9152854cad26b43fd0c9509ffbd3223e85c58e98957f8","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"XrY7u+Ae7tCTyyK7j1rNww=="},"expires":1543535026822}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode hello world
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0155/file/open/file-FQ07XKQ0xx0y01vG60K23QP3/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181129T234146Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=14aabed2f7a0982ad1b9152854cad26b43fd0c9509ffbd3223e85c58e98957f8
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"5eb63bbbe01eeed093cb22bb8f5acdc3"']
      x-amz-expiration: ['expiry-date="Fri, 21 Dec 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [657C910E90069D7D]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XKQ0xx0y01vG60K23QP3/close
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XKQ0xx0y01vG60K23QP3"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FQ07XK80xx0jk1Yy5z1QPVfy", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XKQ0xx0y01vG60K23QP3/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XKQ0xx0y01vG60K23QP3","state":"closing"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FQ07XK80xx0jk1Yy5z1QPVfy"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XKQ0xx0y01vG60K23QP3/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FQ07XKQ0xx0y01vG60K23QP3","project":"project-FQ07XK80xx0jk1Yy5z1QPVfy","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/","tags":[],"created":1543534906000,"modified":1543534909070,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":11}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"preauthenticated": false, "project": "project-FQ07XK80xx0jk1Yy5z1QPVfy"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FQ07XKQ0xx0y01vG60K23QP3/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FQ07XKQ0xx0y01vG60K23QP3/project-FQ07XK80xx0jk1Yy5z1QPVfy","headers":{"X-Authorization":"9rjq7kfS6d6b6x7S8aLC3OKnxdN8Twbr"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      Range: [bytes=0-10]
      X-Authorization: [9rjq7kfS6d6b6x7S8aLC3OKnxdN8Twbr]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FQ07XKQ0xx0y01vG60K23QP3/project-FQ07XK80xx0jk1Yy5z1QPVfy
  response:
    body: {string: !!python/unicode hello world}
    headers:
      content-disposition: [attachment]
      content-range: [bytes 0-10/11]
      content-type: [text/plain]
      last-modified: ['Thu, 29 Nov 2018 23:41:48 GMT']
    status: {code: 206, message: Partial Content}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FQ07XK80xx0jk1Yy5z1QPVfy/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FQ07XK80xx0jk1Yy5z1QPVfy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
