interactions:
- request:
    body: !!python/unicode '{"name": "TestGlob.test_pattern_no_file_match.c65f60ee"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4880gf7f8GXkJpbYfZy4"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4880gf7f8GXkJpbYfZy4/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4880gf7f8GXkJpbYfZy4","name":"TestGlob.test_pattern_no_file_match.c65f60ee","class":"project","created":1540592161000,"modified":1540592161000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4880gf7f8GXkJpbYfZy4/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4880gf7f8GXkJpbYfZy4"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder_file.csv", "project": "project-FP9k4880gf7f8GXkJpbYfZy4",
      "folder": "/temp_folder", "nonce": "45f951cdb69f6798e3407746ad06f97075afe69d5132ba0e02bfa0fe17d0cada1540592162.267536"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k48Q0gf7zvv365P3k8ZqZ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4880gf7f8GXkJpbYfZy4/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4880gf7f8GXkJpbYfZy4","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 5, "md5": "73dfff57fe24e807bd4fb1bc4e07cd73",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k48Q0gf7zvv365P3k8ZqZ/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0982/file/open/file-FP9k48Q0gf7zvv365P3k8ZqZ/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221602Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=290a99c83ebb5026e70c4133a155e0d4e6d2f3e45f5d6d27e4d80cec58c847f0","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"c9//V/4k6Ae9T7G8TgfNcw=="},"expires":1540592282603}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data0
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [c9//V/4k6Ae9T7G8TgfNcw==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0982/file/open/file-FP9k48Q0gf7zvv365P3k8ZqZ/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221602Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=290a99c83ebb5026e70c4133a155e0d4e6d2f3e45f5d6d27e4d80cec58c847f0
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"73dfff57fe24e807bd4fb1bc4e07cd73"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [441FB89C07D5CB38]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k4880gf7f8GXkJpbYfZy4", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k48Q0gf7zvv365P3k8ZqZ/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k48Q0gf7zvv365P3k8ZqZ","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k48Q0gf7zvv365P3k8ZqZ/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k48Q0gf7zvv365P3k8ZqZ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"size": 5, "md5": "89d903bc35dede724fd52c51437ff5fd",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k48j0gf7bVJvpJkZZ2f68/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/10f4/file/open/file-FP9k48j0gf7bVJvpJkZZ2f68/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221604Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=353f09c515f394482a440f339cfd2abcb37d20d93145ca0d026de611704867dc","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"idkDvDXe3nJP1SxRQ3/1/Q=="},"expires":1540592284212}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data1
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [idkDvDXe3nJP1SxRQ3/1/Q==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/10f4/file/open/file-FP9k48j0gf7bVJvpJkZZ2f68/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221604Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=353f09c515f394482a440f339cfd2abcb37d20d93145ca0d026de611704867dc
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"89d903bc35dede724fd52c51437ff5fd"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [ABEC02F5EFED6315]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k4880gf7f8GXkJpbYfZy4", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k48j0gf7bVJvpJkZZ2f68/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k48j0gf7bVJvpJkZZ2f68","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k48j0gf7bVJvpJkZZ2f68/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k48j0gf7bVJvpJkZZ2f68"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestGlob.test_pattern_no_file_match.c65f60ee",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k4880gf7f8GXkJpbYfZy4","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 100, "name": {"glob": "*temp*"}, "scope": {"recurse":
      true, "project": "project-FP9k4880gf7f8GXkJpbYfZy4", "folder": "/"}, "describe":
      {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findDataObjects
  response:
    body: {string: !!python/unicode '{"next":null,"results":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4880gf7f8GXkJpbYfZy4/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4880gf7f8GXkJpbYfZy4"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
