interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_w_settings_big_timeout.230152a0"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG95j0GYGy8257FZX9yZQ9"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG95j0GYGy8257FZX9yZQ9/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG95j0GYGy8257FZX9yZQ9","name":"TestOpen.test_write_w_settings_big_timeout.230152a0","class":"project","created":1541457047000,"modified":1541457047000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"level": "VIEW", "limit": 2, "name": "TestOpen.test_write_w_settings_big_timeout.230152a0"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPQG95j0GYGy8257FZX9yZQ9","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"folder": "/", "batchsize": 2, "project":
      "project-FPQG95j0GYGy8257FZX9yZQ9", "name": "temp_file"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"folder": "/", "project": "project-FPQG95j0GYGy8257FZX9yZQ9",
      "nonce": "bd44aeeee89113013a85944ffa1207e1a3d3c7d65f660ffdfac7a148a593d3601541457049.254965",
      "parents": true, "name": "temp_file"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPQG9680GYGV4gqpPJbb1jfg"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG95j0GYGy8257FZX9yZQ9/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG95j0GYGy8257FZX9yZQ9","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"index": 1, "md5": "5eb63bbbe01eeed093cb22bb8f5acdc3",
      "size": 11}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG9680GYGV4gqpPJbb1jfg/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/79de/file/open/file-FPQG9680GYGV4gqpPJbb1jfg/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181105%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181105T223050Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=56f855f6cc8bb2b6194d3cf188fb3826baea81bdb15856b0364c847f70173ce0","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"XrY7u+Ae7tCTyyK7j1rNww=="},"expires":1541457170460}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode hello world
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/79de/file/open/file-FPQG9680GYGV4gqpPJbb1jfg/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181105%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181105T223050Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=56f855f6cc8bb2b6194d3cf188fb3826baea81bdb15856b0364c847f70173ce0
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"5eb63bbbe01eeed093cb22bb8f5acdc3"']
      x-amz-expiration: ['expiry-date="Tue, 27 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [F809739C1A947C7B]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG9680GYGV4gqpPJbb1jfg/close
  response:
    body: {string: !!python/unicode '{"id":"file-FPQG9680GYGV4gqpPJbb1jfg"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPQG95j0GYGy8257FZX9yZQ9", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG9680GYGV4gqpPJbb1jfg/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPQG9680GYGV4gqpPJbb1jfg","state":"closing"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPQG95j0GYGy8257FZX9yZQ9"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG9680GYGV4gqpPJbb1jfg/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPQG9680GYGV4gqpPJbb1jfg","project":"project-FPQG95j0GYGy8257FZX9yZQ9","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/","tags":[],"created":1541457049000,"modified":1541457063962,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":11}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPQG95j0GYGy8257FZX9yZQ9", "preauthenticated":
      false}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG9680GYGV4gqpPJbb1jfg/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FPQG9680GYGV4gqpPJbb1jfg/project-FPQG95j0GYGy8257FZX9yZQ9","headers":{"X-Authorization":"xvikWJf5EfyoFK7ts58Kg01M23eflOAq"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      Range: [bytes=0-10]
      X-Authorization: [xvikWJf5EfyoFK7ts58Kg01M23eflOAq]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FPQG9680GYGV4gqpPJbb1jfg/project-FPQG95j0GYGy8257FZX9yZQ9
  response:
    body: {string: !!python/unicode hello world}
    headers:
      content-disposition: [attachment]
      content-range: [bytes 0-10/11]
      content-type: [text/plain]
      last-modified: ['Mon, 05 Nov 2018 22:31:04 GMT']
    status: {code: 206, message: Partial Content}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG95j0GYGy8257FZX9yZQ9/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG95j0GYGy8257FZX9yZQ9"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
version: 1
