interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_w_settings_no_timeout.43fd5a01"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG9Gj04y3y2vpj5ZX39QKb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG9Gj04y3y2vpj5ZX39QKb/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG9Gj04y3y2vpj5ZX39QKb","name":"TestOpen.test_write_w_settings_no_timeout.43fd5a01","class":"project","created":1541457075000,"modified":1541457075000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"level": "VIEW", "limit": 2, "name": "TestOpen.test_write_w_settings_no_timeout.43fd5a01"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPQG9Gj04y3y2vpj5ZX39QKb","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"folder": "/", "batchsize": 2, "project":
      "project-FPQG9Gj04y3y2vpj5ZX39QKb", "name": "temp_file"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"folder": "/", "project": "project-FPQG9Gj04y3y2vpj5ZX39QKb",
      "nonce": "281c7ff4f2cb89a35e81034c0873492674f94166a33a7ae8713e26c6287944321541457076.452411",
      "parents": true, "name": "temp_file"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPQG9J004y3f87yF1bPf84Qk"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG9Gj04y3y2vpj5ZX39QKb/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG9Gj04y3y2vpj5ZX39QKb","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"index": 1, "md5": "5eb63bbbe01eeed093cb22bb8f5acdc3",
      "size": 11}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG9J004y3f87yF1bPf84Qk/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/7801/file/open/file-FPQG9J004y3f87yF1bPf84Qk/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181105%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181105T223116Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=ccfd9c5e58a7f739fd017b322b98f55b10fcdd464a1c0f358123369ccf97aedd","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"XrY7u+Ae7tCTyyK7j1rNww=="},"expires":1541457196762}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode hello world
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/7801/file/open/file-FPQG9J004y3f87yF1bPf84Qk/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181105%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181105T223116Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=ccfd9c5e58a7f739fd017b322b98f55b10fcdd464a1c0f358123369ccf97aedd
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"5eb63bbbe01eeed093cb22bb8f5acdc3"']
      x-amz-expiration: ['expiry-date="Tue, 27 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [EE423EBAE6F976DA]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG9J004y3f87yF1bPf84Qk/close
  response:
    body: {string: !!python/unicode '{"id":"file-FPQG9J004y3f87yF1bPf84Qk"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPQG9Gj04y3y2vpj5ZX39QKb"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG9J004y3f87yF1bPf84Qk/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPQG9J004y3f87yF1bPf84Qk","project":"project-FPQG9Gj04y3y2vpj5ZX39QKb","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"closing","hidden":false,"links":[],"folder":"/","tags":[],"created":1541457076000,"modified":1541457077249,"createdBy":{"user":"user-akumar_counsyl"},"media":"","archivalState":"live"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPQG9Gj04y3y2vpj5ZX39QKb", "preauthenticated":
      false}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG9J004y3f87yF1bPf84Qk/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FPQG9J004y3f87yF1bPf84Qk/project-FPQG9Gj04y3y2vpj5ZX39QKb","headers":{"X-Authorization":"xvikWJf5EfyoFK7ts58Kg01M23eflOAq"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      Range: [bytes=0-10]
      X-Authorization: [xvikWJf5EfyoFK7ts58Kg01M23eflOAq]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FPQG9J004y3f87yF1bPf84Qk/project-FPQG9Gj04y3y2vpj5ZX39QKb
  response:
    body: {string: !!python/unicode hello world}
    headers:
      content-disposition: [attachment]
      content-range: [bytes 0-10/11]
      content-type: [text/plain]
      last-modified: ['Mon, 05 Nov 2018 22:31:20 GMT']
    status: {code: 206, message: Partial Content}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG9Gj04y3y2vpj5ZX39QKb/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG9Gj04y3y2vpj5ZX39QKb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
version: 1
