interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_multiple_wo_context_manager.f0834f7c"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XbQ0JypxPFfP5j8qJqBp"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPG5XbQ0JypxPFfP5j8qJqBp/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XbQ0JypxPFfP5j8qJqBp","name":"TestOpen.test_write_multiple_wo_context_manager.f0834f7c","class":"project","created":1540905302000,"modified":1540905302000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"level": "VIEW", "limit": 2, "name": "TestOpen.test_write_multiple_wo_context_manager.f0834f7c"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPG5XbQ0JypxPFfP5j8qJqBp","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"folder": "/", "name": "temp_file", "batchsize":
      2, "project": "project-FPG5XbQ0JypxPFfP5j8qJqBp"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"nonce": "54be42465efdde8b50a974956e8971e181f42229fd06e3e55040dc455b79c4dd1540905302.843012",
      "folder": "/", "name": "temp_file", "project": "project-FPG5XbQ0JypxPFfP5j8qJqBp",
      "parents": true}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XbQ0JypzpjJk9yYvgyjX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPG5XbQ0JypxPFfP5j8qJqBp/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XbQ0JypxPFfP5j8qJqBp","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"md5": "5eb63bbbe01eeed093cb22bb8f5acdc3", "size": 11,
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XbQ0JypzpjJk9yYvgyjX/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/3b44/file/open/file-FPG5XbQ0JypzpjJk9yYvgyjX/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181030%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181030T131503Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=bec254923871d3b18dcd89c5a0455ef098906a45c60d0564a159adc6b0baea4a","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"XrY7u+Ae7tCTyyK7j1rNww=="},"expires":1540905423121}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode hello world
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/3b44/file/open/file-FPG5XbQ0JypzpjJk9yYvgyjX/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181030%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181030T131503Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=bec254923871d3b18dcd89c5a0455ef098906a45c60d0564a159adc6b0baea4a
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"5eb63bbbe01eeed093cb22bb8f5acdc3"']
      x-amz-expiration: ['expiry-date="Wed, 21 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [90AE6F8B5396DF0C]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XbQ0JypzpjJk9yYvgyjX/close
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XbQ0JypzpjJk9yYvgyjX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"fields": {"state": true}, "project": "project-FPG5XbQ0JypxPFfP5j8qJqBp"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XbQ0JypzpjJk9yYvgyjX/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XbQ0JypzpjJk9yYvgyjX","state":"closing"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPG5XbQ0JypxPFfP5j8qJqBp"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XbQ0JypzpjJk9yYvgyjX/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XbQ0JypzpjJk9yYvgyjX","project":"project-FPG5XbQ0JypxPFfP5j8qJqBp","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/","tags":[],"created":1540905302000,"modified":1540905304577,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":11}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"preauthenticated": false, "project": "project-FPG5XbQ0JypxPFfP5j8qJqBp"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XbQ0JypzpjJk9yYvgyjX/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FPG5XbQ0JypzpjJk9yYvgyjX/project-FPG5XbQ0JypxPFfP5j8qJqBp","headers":{"X-Authorization":"xvikWJf5EfyoFK7ts58Kg01M23eflOAq"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      Range: [bytes=0-10]
      X-Authorization: [xvikWJf5EfyoFK7ts58Kg01M23eflOAq]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FPG5XbQ0JypzpjJk9yYvgyjX/project-FPG5XbQ0JypxPFfP5j8qJqBp
  response:
    body: {string: !!python/unicode hello world}
    headers:
      content-disposition: [attachment]
      content-range: [bytes 0-10/11]
      content-type: [text/plain]
      last-modified: ['Tue, 30 Oct 2018 13:15:04 GMT']
    status: {code: 206, message: Partial Content}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPG5XbQ0JypxPFfP5j8qJqBp/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XbQ0JypxPFfP5j8qJqBp"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
