interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_read_on_open_buffer.6b8c0796"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XKQ0gqpYq17PGJ49y9vY"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPG5XKQ0gqpYq17PGJ49y9vY/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XKQ0gqpYq17PGJ49y9vY","name":"TestOpen.test_read_on_open_buffer.6b8c0796","class":"project","created":1540905274000,"modified":1540905274000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"folder": "/temp_folder", "parents": true}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPG5XKQ0gqpYq17PGJ49y9vY/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XKQ0gqpYq17PGJ49y9vY"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"nonce": "4e5253ecb07acbacb71a6ac1b48a27cb2b96a890a7110af40ccd156dc1d35daf1540905274.329513",
      "folder": "/temp_folder", "name": "folder_file", "project": "project-FPG5XKQ0gqpYq17PGJ49y9vY"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XKQ0gqpbp2jb3b7zZQYG"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPG5XKQ0gqpYq17PGJ49y9vY/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XKQ0gqpYq17PGJ49y9vY","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"md5": "8d777f385d3dfec8815d20f7496026dc", "size": 4,
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XKQ0gqpbp2jb3b7zZQYG/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/6652/file/open/file-FPG5XKQ0gqpbp2jb3b7zZQYG/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181030%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181030T131435Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=4909e35689c749b050be575013306dfe4b2ae471009e261810fcfd1934fa81b2","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540905395366}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/6652/file/open/file-FPG5XKQ0gqpbp2jb3b7zZQYG/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181030%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181030T131435Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=4909e35689c749b050be575013306dfe4b2ae471009e261810fcfd1934fa81b2
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Wed, 21 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [FB6C2E52D89D6ED9]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"state": true}, "project": "project-FPG5XKQ0gqpYq17PGJ49y9vY"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XKQ0gqpbp2jb3b7zZQYG/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XKQ0gqpbp2jb3b7zZQYG","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XKQ0gqpbp2jb3b7zZQYG/close
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XKQ0gqpbp2jb3b7zZQYG"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"level": "VIEW", "limit": 2, "name": "TestOpen.test_read_on_open_buffer.6b8c0796"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPG5XKQ0gqpYq17PGJ49y9vY","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"folder": "/temp_folder", "name": "folder_file",
      "batchsize": 2, "project": "project-FPG5XKQ0gqpYq17PGJ49y9vY"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FPG5XKQ0gqpYq17PGJ49y9vY","id":"file-FPG5XKQ0gqpbp2jb3b7zZQYG"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPG5XKQ0gqpYq17PGJ49y9vY"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XKQ0gqpbp2jb3b7zZQYG/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XKQ0gqpbp2jb3b7zZQYG","project":"project-FPG5XKQ0gqpYq17PGJ49y9vY","class":"file","sponsored":false,"name":"folder_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/temp_folder","tags":[],"created":1540905274000,"modified":1540905276763,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":4}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"preauthenticated": false, "project": "project-FPG5XKQ0gqpYq17PGJ49y9vY"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XKQ0gqpbp2jb3b7zZQYG/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FPG5XKQ0gqpbp2jb3b7zZQYG/project-FPG5XKQ0gqpYq17PGJ49y9vY","headers":{"X-Authorization":"xvikWJf5EfyoFK7ts58Kg01M23eflOAq"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      Range: [bytes=0-3]
      X-Authorization: [xvikWJf5EfyoFK7ts58Kg01M23eflOAq]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FPG5XKQ0gqpbp2jb3b7zZQYG/project-FPG5XKQ0gqpYq17PGJ49y9vY
  response:
    body: {string: !!python/unicode data}
    headers:
      content-disposition: [attachment]
      content-range: [bytes 0-3/4]
      content-type: [text/plain]
      last-modified: ['Tue, 30 Oct 2018 13:14:37 GMT']
    status: {code: 206, message: Partial Content}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPG5XKQ0gqpYq17PGJ49y9vY/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XKQ0gqpYq17PGJ49y9vY"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
