interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_read_on_open_dx_file.edc60b4f"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG8Kj03G7P8xFJPvZy1Vyb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG8Kj03G7P8xFJPvZy1Vyb/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG8Kj03G7P8xFJPvZy1Vyb","name":"TestOpen.test_read_on_open_dx_file.edc60b4f","class":"project","created":1541456955000,"modified":1541456955000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"folder": "/", "project": "project-FPQG8Kj03G7P8xFJPvZy1Vyb",
      "nonce": "d6cdf62d129ed4cc8c4b16bb7cef7f6eaf7c97a1629c6048993d3673f3583b181541456955.879526",
      "name": "temp_file"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPQG8Kj03G78JBFgFbXPzB3G"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"level": "VIEW", "limit": 2, "name": "TestOpen.test_read_on_open_dx_file.edc60b4f"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPQG8Kj03G7P8xFJPvZy1Vyb","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"folder": "/", "batchsize": 2, "project":
      "project-FPQG8Kj03G7P8xFJPvZy1Vyb", "name": "temp_file"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FPQG8Kj03G7P8xFJPvZy1Vyb","id":"file-FPQG8Kj03G78JBFgFbXPzB3G"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPQG8Kj03G7P8xFJPvZy1Vyb"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPQG8Kj03G78JBFgFbXPzB3G/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPQG8Kj03G78JBFgFbXPzB3G","project":"project-FPQG8Kj03G7P8xFJPvZy1Vyb","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"open","hidden":false,"links":[],"folder":"/","tags":[],"created":1541456955000,"modified":1541456956047,"createdBy":{"user":"user-akumar_counsyl"},"media":"","archivalState":"live","parts":{}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG8Kj03G7P8xFJPvZy1Vyb/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG8Kj03G7P8xFJPvZy1Vyb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
version: 1
