interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_read_on_open_dx_file.c33049f6"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XV80v0Vqq57K4Pxxg7b8"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPG5XV80v0Vqq57K4Pxxg7b8/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XV80v0Vqq57K4Pxxg7b8","name":"TestOpen.test_read_on_open_dx_file.c33049f6","class":"project","created":1540905285000,"modified":1540905285000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"nonce": "46c00d541f18fed3387b3ce210ba25c853b571d847f75fedb31764511b1ca69e1540905285.761953",
      "folder": "/", "name": "temp_file", "project": "project-FPG5XV80v0Vqq57K4Pxxg7b8"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XV80v0Vbp2jb3b7zZQYK"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"level": "VIEW", "limit": 2, "name": "TestOpen.test_read_on_open_dx_file.c33049f6"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPG5XV80v0Vqq57K4Pxxg7b8","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"folder": "/", "name": "temp_file", "batchsize":
      2, "project": "project-FPG5XV80v0Vqq57K4Pxxg7b8"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FPG5XV80v0Vqq57K4Pxxg7b8","id":"file-FPG5XV80v0Vbp2jb3b7zZQYK"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPG5XV80v0Vqq57K4Pxxg7b8"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPG5XV80v0Vbp2jb3b7zZQYK/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPG5XV80v0Vbp2jb3b7zZQYK","project":"project-FPG5XV80v0Vqq57K4Pxxg7b8","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"open","hidden":false,"links":[],"folder":"/","tags":[],"created":1540905285000,"modified":1540905285839,"createdBy":{"user":"user-akumar_counsyl"},"media":"","archivalState":"live","parts":{}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPG5XV80v0Vqq57K4Pxxg7b8/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPG5XV80v0Vqq57K4Pxxg7b8"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
