interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_read_over_files.f96d9698"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPGyV480xQJkVyjgP7GKB2kb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPGyV480xQJkVyjgP7GKB2kb/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPGyV480xQJkVyjgP7GKB2kb","name":"TestOpen.test_write_read_over_files.f96d9698","class":"project","created":1541007505000,"modified":1541007505000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_read_over_files.f96d9698",
      "limit": 2, "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPGyV480xQJkVyjgP7GKB2kb","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"project": "project-FPGyV480xQJkVyjgP7GKB2kb",
      "name": "temp_file", "batchsize": 2, "folder": "/"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPGyV480xQJkVyjgP7GKB2kb", "name":
      "temp_file", "nonce": "1545c52ceab02e829eb47ef9843bf495058bd8a1c3390596ed895588934756981541007505.589314",
      "folder": "/", "parents": true}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPGyV480xQJp8gB8P5kZ66kG"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPGyV480xQJkVyjgP7GKB2kb/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPGyV480xQJkVyjgP7GKB2kb","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"index": 1, "size": 24, "md5": "51eb50eebfd0e36abe3c09e631399af9"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPGyV480xQJp8gB8P5kZ66kG/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/df75/file/open/file-FPGyV480xQJp8gB8P5kZ66kG/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181031%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181031T173825Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=b00e652dd89fd18962cd552a56255020f780238acd146eff9e74f87f5e6b0534","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"UetQ7r/Q42q+PAnmMTma+Q=="},"expires":1541007625876}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'line1

      line2

      line3

      line4

'
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [UetQ7r/Q42q+PAnmMTma+Q==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/df75/file/open/file-FPGyV480xQJp8gB8P5kZ66kG/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181031%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181031T173825Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=b00e652dd89fd18962cd552a56255020f780238acd146eff9e74f87f5e6b0534
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"51eb50eebfd0e36abe3c09e631399af9"']
      x-amz-expiration: ['expiry-date="Thu, 22 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [EC0C736804B8D758]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPGyV480xQJp8gB8P5kZ66kG/close
  response:
    body: {string: !!python/unicode '{"id":"file-FPGyV480xQJp8gB8P5kZ66kG"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPGyV480xQJkVyjgP7GKB2kb", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPGyV480xQJp8gB8P5kZ66kG/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPGyV480xQJp8gB8P5kZ66kG","state":"closing"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPGyV480xQJkVyjgP7GKB2kb"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPGyV480xQJp8gB8P5kZ66kG/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPGyV480xQJp8gB8P5kZ66kG","project":"project-FPGyV480xQJkVyjgP7GKB2kb","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/","tags":[],"created":1541007505000,"modified":1541007507181,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":24}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FPGyV480xQJkVyjgP7GKB2kb", "preauthenticated":
      false}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPGyV480xQJp8gB8P5kZ66kG/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FPGyV480xQJp8gB8P5kZ66kG/project-FPGyV480xQJkVyjgP7GKB2kb","headers":{"X-Authorization":"xvikWJf5EfyoFK7ts58Kg01M23eflOAq"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      Range: [bytes=0-23]
      X-Authorization: [xvikWJf5EfyoFK7ts58Kg01M23eflOAq]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FPGyV480xQJp8gB8P5kZ66kG/project-FPGyV480xQJkVyjgP7GKB2kb
  response:
    body: {string: !!python/unicode 'line1

        line2

        line3

        line4

'}
    headers:
      content-disposition: [attachment]
      content-range: [bytes 0-23/24]
      content-type: [text/plain]
      last-modified: ['Wed, 31 Oct 2018 17:38:27 GMT']
    status: {code: 206, message: Partial Content}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPGyV480xQJkVyjgP7GKB2kb/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPGyV480xQJkVyjgP7GKB2kb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
