interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_read_on_open_dx_file.a3184ea6"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPGyQz008bqQkK5VP6vf47Vy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPGyQz008bqQkK5VP6vf47Vy/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPGyQz008bqQkK5VP6vf47Vy","name":"TestOpen.test_read_on_open_dx_file.a3184ea6","class":"project","created":1541007484000,"modified":1541007484000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPGyQz008bqQkK5VP6vf47Vy", "name":
      "temp_file", "folder": "/", "nonce": "03f33724e3a16cc9c0f7a3bd34e68f0daf9c7cca48aca4299af7cdfbca66ff461541007484.270109"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPGyQz008bqp8gB8P5kZ66kB"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "TestOpen.test_read_on_open_dx_file.a3184ea6",
      "limit": 2, "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPGyQz008bqQkK5VP6vf47Vy","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"project": "project-FPGyQz008bqQkK5VP6vf47Vy",
      "name": "temp_file", "batchsize": 2, "folder": "/"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FPGyQz008bqQkK5VP6vf47Vy","id":"file-FPGyQz008bqp8gB8P5kZ66kB"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPGyQz008bqQkK5VP6vf47Vy"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPGyQz008bqp8gB8P5kZ66kB/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPGyQz008bqp8gB8P5kZ66kB","project":"project-FPGyQz008bqQkK5VP6vf47Vy","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"open","hidden":false,"links":[],"folder":"/","tags":[],"created":1541007484000,"modified":1541007484349,"createdBy":{"user":"user-akumar_counsyl"},"media":"","archivalState":"live","parts":{}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPGyQz008bqQkK5VP6vf47Vy", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPGyQz008bqp8gB8P5kZ66kB/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPGyQz008bqp8gB8P5kZ66kB","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPGyQz008bqQkK5VP6vf47Vy/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPGyQz008bqQkK5VP6vf47Vy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
