interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_multiple_flush_multiple_upload.54a309f1"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9jzVQ0BfGVY31P2kP4KzPX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9jzVQ0BfGVY31P2kP4KzPX/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9jzVQ0BfGVY31P2kP4KzPX","name":"TestOpen.test_write_multiple_flush_multiple_upload.54a309f1","class":"project","created":1540591558000,"modified":1540591558000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestOpen.test_write_multiple_flush_multiple_upload.54a309f1",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9jzVQ0BfGVY31P2kP4KzPX","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"project": "project-FP9jzVQ0BfGVY31P2kP4KzPX",
      "folder": "/", "name": "temp_file", "batchsize": 2}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FP9jzVQ0BfGVY31P2kP4KzPX", "nonce":
      "379a19fd11c3b94583601b1d05788d8814fe15d7661c959ea96fe6e3e2eea74c1540591559.341933",
      "folder": "/", "parents": true, "name": "temp_file"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9jzVj0BfGbx561KQVQ9pBg"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9jzVQ0BfGVY31P2kP4KzPX/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9jzVQ0BfGVY31P2kP4KzPX","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"index": 1, "size": 5, "md5": "5d41402abc4b2a76b9719d911017c592"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzVj0BfGbx561KQVQ9pBg/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/3d15/file/open/file-FP9jzVj0BfGbx561KQVQ9pBg/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T220559Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=ea4651402ab338656a9f1b61d1c57ca299941fb82accaab7d8b84b87a48eb2e8","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"XUFAKrxLKna5cZ2REBfFkg=="},"expires":1540591679677}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode hello
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [XUFAKrxLKna5cZ2REBfFkg==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/3d15/file/open/file-FP9jzVj0BfGbx561KQVQ9pBg/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T220559Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=ea4651402ab338656a9f1b61d1c57ca299941fb82accaab7d8b84b87a48eb2e8
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"5d41402abc4b2a76b9719d911017c592"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [C469C42F139F3E16]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzVj0BfGbx561KQVQ9pBg/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9jzVj0BfGbx561KQVQ9pBg"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FP9jzVQ0BfGVY31P2kP4KzPX"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzVj0BfGbx561KQVQ9pBg/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9jzVj0BfGbx561KQVQ9pBg","project":"project-FP9jzVQ0BfGVY31P2kP4KzPX","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"closing","hidden":false,"links":[],"folder":"/","tags":[],"created":1540591559000,"modified":1540591560280,"createdBy":{"user":"user-akumar_counsyl"},"media":"","archivalState":"live"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": ["file-FP9jzVj0BfGbx561KQVQ9pBg"]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9jzVQ0BfGVY31P2kP4KzPX/removeObjects
  response:
    body: {string: !!python/unicode '{"id":"project-FP9jzVQ0BfGVY31P2kP4KzPX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"index": 1, "size": 11, "md5": "5eb63bbbe01eeed093cb22bb8f5acdc3"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzX00BfGkZYkF52JZ1Vj1/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/17c9/file/open/file-FP9jzX00BfGkZYkF52JZ1Vj1/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T220601Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=b3c2a3a931a745fcdba34e30166f7ee8394cfe4255a6528ab1c5225d4ffb4d98","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"XrY7u+Ae7tCTyyK7j1rNww=="},"expires":1540591681258}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode hello world
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/17c9/file/open/file-FP9jzX00BfGkZYkF52JZ1Vj1/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T220601Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=b3c2a3a931a745fcdba34e30166f7ee8394cfe4255a6528ab1c5225d4ffb4d98
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"5eb63bbbe01eeed093cb22bb8f5acdc3"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [18A65BAC6B8A957C]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzX00BfGkZYkF52JZ1Vj1/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9jzX00BfGkZYkF52JZ1Vj1"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FP9jzVQ0BfGVY31P2kP4KzPX"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzX00BfGkZYkF52JZ1Vj1/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9jzX00BfGkZYkF52JZ1Vj1","project":"project-FP9jzVQ0BfGVY31P2kP4KzPX","class":"file","sponsored":false,"name":"temp_file","types":[],"state":"closing","hidden":false,"links":[],"folder":"/","tags":[],"created":1540591560000,"modified":1540591562771,"createdBy":{"user":"user-akumar_counsyl"},"media":"","archivalState":"live"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"index": 1, "size": 11, "md5": "5eb63bbbe01eeed093cb22bb8f5acdc3"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzXj0BfGVY31P2kP4KzPY/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/dc25/file/open/file-FP9jzXj0BfGVY31P2kP4KzPY/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T220603Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=7e60655f2b4ce71eea0cb2402f1dc4649deb0b370bbc86480e3d57c683266d38","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"XrY7u+Ae7tCTyyK7j1rNww=="},"expires":1540591683844}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode hello world
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/dc25/file/open/file-FP9jzXj0BfGVY31P2kP4KzPY/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T220603Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=7e60655f2b4ce71eea0cb2402f1dc4649deb0b370bbc86480e3d57c683266d38
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"5eb63bbbe01eeed093cb22bb8f5acdc3"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [6A4BA8379AD41C6A]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzXj0BfGVY31P2kP4KzPY/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9jzXj0BfGVY31P2kP4KzPY"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FP9jzVQ0BfGVY31P2kP4KzPX", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzXj0BfGVY31P2kP4KzPY/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9jzXj0BfGVY31P2kP4KzPY","state":"closing"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FP9jzVQ0BfGVY31P2kP4KzPX", "preauthenticated":
      false}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9jzXj0BfGVY31P2kP4KzPY/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FP9jzXj0BfGVY31P2kP4KzPY/project-FP9jzVQ0BfGVY31P2kP4KzPX","headers":{"X-Authorization":"xvikWJf5EfyoFK7ts58Kg01M23eflOAq"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      Range: [bytes=0-10]
      X-Authorization: [xvikWJf5EfyoFK7ts58Kg01M23eflOAq]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FP9jzXj0BfGVY31P2kP4KzPY/project-FP9jzVQ0BfGVY31P2kP4KzPX
  response:
    body: {string: !!python/unicode hello world}
    headers:
      content-disposition: [attachment]
      content-range: [bytes 0-10/11]
      content-type: [text/plain]
      last-modified: ['Fri, 26 Oct 2018 22:06:05 GMT']
    status: {code: 206, message: Partial Content}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9jzVQ0BfGVY31P2kP4KzPX/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9jzVQ0BfGVY31P2kP4KzPX"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
