interactions:
- request:
    body: !!python/unicode '{"name": "TestOpen.test_write_to_project_fail.7c1e3d79"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG8qQ06j3Bq0qB9Gf33bJ0"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG8qQ06j3Bq0qB9Gf33bJ0/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG8qQ06j3Bq0qB9Gf33bJ0","name":"TestOpen.test_write_to_project_fail.7c1e3d79","class":"project","created":1541457006000,"modified":1541457006000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPQG8qQ06j3Bq0qB9Gf33bJ0/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPQG8qQ06j3Bq0qB9Gf33bJ0"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upgrade-info: ['A recommended update (v0.267.1) is available for your client/SDK.
          You can download it from https://wiki.dnanexus.com/Downloads#Install']
    status: {code: 200, message: OK}
version: 1
