interactions:
- request:
    body: !!python/unicode '{"name": "TestStat.test_stat_project_error.63e0caa4"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k3q00X8Jbvgj6Jkpx4b0k"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k3q00X8Jbvgj6Jkpx4b0k/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k3q00X8Jbvgj6Jkpx4b0k","name":"TestStat.test_stat_project_error.63e0caa4","class":"project","created":1540592108000,"modified":1540592108000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestStat.test_stat_project_error.63e0caa4",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k3q00JkVbVJvpJkZZ2f67","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false},{"id":"project-FP9k3q00X8Jbvgj6Jkpx4b0k","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k3q00JkVbVJvpJkZZ2f67/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k3q00JkVbVJvpJkZZ2f67"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k3q00X8Jbvgj6Jkpx4b0k/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k3q00X8Jbvgj6Jkpx4b0k"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
