interactions:
- request:
    body: !!python/unicode '{"name": "TestList.test_list_folder_w_files.67436290"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2xQ09YJbVJvpJkZZ2f5b"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k2xQ09YJbVJvpJkZZ2f5b/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2xQ09YJbVJvpJkZZ2f5b","name":"TestList.test_list_folder_w_files.67436290","class":"project","created":1540591990000,"modified":1540591990000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k2xQ09YJbVJvpJkZZ2f5b/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2xQ09YJbVJvpJkZZ2f5b"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder_file.txt", "project": "project-FP9k2xQ09YJbVJvpJkZZ2f5b",
      "folder": "/temp_folder", "nonce": "dd5b9c09b3ad19ab9b44e47529d800a9304c8bbab7f3532df118b834aca377481540591991.012227"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k2xj09YJvf62VJp1k8p8J"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k2xQ09YJbVJvpJkZZ2f5b/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2xQ09YJbVJvpJkZZ2f5b","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 5, "md5": "73dfff57fe24e807bd4fb1bc4e07cd73",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2xj09YJvf62VJp1k8p8J/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/b2d0/file/open/file-FP9k2xj09YJvf62VJp1k8p8J/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221311Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=230df83b0abc4c341f3b6f3ab6d28125cf9727387beb1fd3cb01aef22699c009","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"c9//V/4k6Ae9T7G8TgfNcw=="},"expires":1540592111461}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data0
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [c9//V/4k6Ae9T7G8TgfNcw==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/b2d0/file/open/file-FP9k2xj09YJvf62VJp1k8p8J/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221311Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=230df83b0abc4c341f3b6f3ab6d28125cf9727387beb1fd3cb01aef22699c009
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"73dfff57fe24e807bd4fb1bc4e07cd73"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [7D43F5AC9156A028]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k2xQ09YJbVJvpJkZZ2f5b", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2xj09YJvf62VJp1k8p8J/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k2xj09YJvf62VJp1k8p8J","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2xj09YJvf62VJp1k8p8J/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k2xj09YJvf62VJp1k8p8J"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"size": 5, "md5": "89d903bc35dede724fd52c51437ff5fd",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2y009YJbvgj6Jkpx4b0Q/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/9b85/file/open/file-FP9k2y009YJbvgj6Jkpx4b0Q/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221312Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=2f2ee0351e7b2fe50cea0002f2bdcc66b7546ff389c3a3c4047fa6e471f42e78","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"idkDvDXe3nJP1SxRQ3/1/Q=="},"expires":1540592112923}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data1
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [idkDvDXe3nJP1SxRQ3/1/Q==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/9b85/file/open/file-FP9k2y009YJbvgj6Jkpx4b0Q/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221312Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=2f2ee0351e7b2fe50cea0002f2bdcc66b7546ff389c3a3c4047fa6e471f42e78
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"89d903bc35dede724fd52c51437ff5fd"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [28B0A20E7AE4D1B2]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k2xQ09YJbVJvpJkZZ2f5b", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2y009YJbvgj6Jkpx4b0Q/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k2y009YJbvgj6Jkpx4b0Q","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k2y009YJbvgj6Jkpx4b0Q/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k2y009YJbvgj6Jkpx4b0Q"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestList.test_list_folder_w_files.67436290",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k2xQ09YJbVJvpJkZZ2f5b","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 100, "scope": {"recurse": true, "project": "project-FP9k2xQ09YJbVJvpJkZZ2f5b",
      "folder": "/temp_folder"}, "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findDataObjects
  response:
    body: {string: !!python/unicode '{"next":null,"results":[{"project":"project-FP9k2xQ09YJbVJvpJkZZ2f5b","id":"file-FP9k2y009YJbvgj6Jkpx4b0Q","describe":{"id":"file-FP9k2y009YJbvgj6Jkpx4b0Q","name":"temp_file.txt","folder":"/temp_folder"}},{"project":"project-FP9k2xQ09YJbVJvpJkZZ2f5b","id":"file-FP9k2xj09YJvf62VJp1k8p8J","describe":{"id":"file-FP9k2xj09YJvf62VJp1k8p8J","name":"folder_file.txt","folder":"/temp_folder"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k2xQ09YJbVJvpJkZZ2f5b/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k2xQ09YJbVJvpJkZZ2f5b"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
