interactions:
- request:
    body: !!python/unicode '{"name": "TestRemove.test_rmtree_folder.6551880b"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k50Q0zyZ5VJvpJkZZ2f6X"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k50Q0zyZ5VJvpJkZZ2f6X/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k50Q0zyZ5VJvpJkZZ2f6X","name":"TestRemove.test_rmtree_folder.6551880b","class":"project","created":1540592258000,"modified":1540592258000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": false, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k50Q0zyZ5VJvpJkZZ2f6X/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k50Q0zyZ5VJvpJkZZ2f6X"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"name": "temp_file.txt", "project": "project-FP9k50Q0zyZ5VJvpJkZZ2f6X",
      "folder": "/temp_folder", "nonce": "300d651afc807c4be1ea6eb8a04e20eb28134a91c8a7f2c7ffdb9f7f36d4815b1540592259.267999"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k50j0zyZ6zyV6JkV1p4KK"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k50Q0zyZ5VJvpJkZZ2f6X/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k50Q0zyZ5VJvpJkZZ2f6X","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k50j0zyZ6zyV6JkV1p4KK/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/039e/file/open/file-FP9k50j0zyZ6zyV6JkV1p4KK/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221739Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=1456d99edefb8fa3c42a0a5e9ed7b101fe1a3bcf61974262cd455b3c4bca5fb8","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592379627}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/039e/file/open/file-FP9k50j0zyZ6zyV6JkV1p4KK/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221739Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=1456d99edefb8fa3c42a0a5e9ed7b101fe1a3bcf61974262cd455b3c4bca5fb8
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [F197F36531F53CDA]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k50Q0zyZ5VJvpJkZZ2f6X", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k50j0zyZ6zyV6JkV1p4KK/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k50j0zyZ6zyV6JkV1p4KK","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k50j0zyZ6zyV6JkV1p4KK/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k50j0zyZ6zyV6JkV1p4KK"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestRemove.test_rmtree_folder.6551880b",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k50Q0zyZ5VJvpJkZZ2f6X","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"recurse": true, "force": false, "partial": true, "folder":
      "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k50Q0zyZ5VJvpJkZZ2f6X/removeFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k50Q0zyZ5VJvpJkZZ2f6X","completed":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k50Q0zyZ5VJvpJkZZ2f6X"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k50j0zyZ6zyV6JkV1p4KK/describe
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        entity file-FP9k50j0zyZ6zyV6JkV1p4KK could not be found"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "all", "folder": "/",
      "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k50Q0zyZ5VJvpJkZZ2f6X/listFolder
  response:
    body: {string: !!python/unicode '{"folders":[],"objects":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k50Q0zyZ5VJvpJkZZ2f6X/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k50Q0zyZ5VJvpJkZZ2f6X"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
