interactions:
- request:
    body: !!python/unicode '{"name": "test_rmtree_project.TempProj"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k52j0FzGvf62VJp1k8p9J"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 2, "name": "test_rmtree_project.TempProj", "level":
      "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k52j0FzGvf62VJp1k8p9J","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k52j0FzGvf62VJp1k8p9J/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k52j0FzGvf62VJp1k8p9J"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k52j0FzGvf62VJp1k8p9J/destroy
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        entity project-FP9k52j0FzGvf62VJp1k8p9J could not be found"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
version: 1
