interactions:
- request:
    body: !!python/unicode '{"name": "TestTempUrl.test_on_file_canonical.05c3deeb"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4Zj002V68GXkJpbYfZy6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4Zj002V68GXkJpbYfZy6/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4Zj002V68GXkJpbYfZy6","name":"TestTempUrl.test_on_file_canonical.05c3deeb","class":"project","created":1540592211000,"modified":1540592211000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4Zj002V68GXkJpbYfZy6/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4Zj002V68GXkJpbYfZy6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "temp_file.txt", "project": "project-FP9k4Zj002V68GXkJpbYfZy6",
      "folder": "/", "nonce": "681619fbb1180cdf7a9de853594ac376b3d7eb26f2fd0989e8adab5bbef1b4891540592211.672756"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4Zj002VFPYg95F286zF6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4Zj002V68GXkJpbYfZy6/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4Zj002V68GXkJpbYfZy6","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4Zj002VFPYg95F286zF6/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/3298/file/open/file-FP9k4Zj002VFPYg95F286zF6/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221652Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=8249ab8e3550be81b3dc385919f869f20929d996a59db9a9059280a52916722e","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592332040}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/3298/file/open/file-FP9k4Zj002VFPYg95F286zF6/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221652Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=8249ab8e3550be81b3dc385919f869f20929d996a59db9a9059280a52916722e
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [77A16C1CF4C8C5FC]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k4Zj002V68GXkJpbYfZy6", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4Zj002VFPYg95F286zF6/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4Zj002VFPYg95F286zF6","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4Zj002VFPYg95F286zF6/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4Zj002VFPYg95F286zF6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestTempUrl.test_on_file_canonical.05c3deeb",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k4Zj002V68GXkJpbYfZy6","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"name": "temp_file.txt", "project": "project-FP9k4Zj002V68GXkJpbYfZy6",
      "batchsize": 2, "folder": "/"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FP9k4Zj002V68GXkJpbYfZy6","id":"file-FP9k4Zj002VFPYg95F286zF6"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"preauthenticated": true, "project": "project-FP9k4Zj002V68GXkJpbYfZy6",
      "duration": 300}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4Zj002VFPYg95F286zF6/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D/ZxP17ypXVyqY5zFG7GkYJG9Zykq9fQgQBZkvG31V","headers":{},"expires":1540592515486}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4Zj002V68GXkJpbYfZy6/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4Zj002V68GXkJpbYfZy6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
