interactions:
- request:
    body: !!python/unicode '{"name": "TestTempUrl.test_on_file_named_timed.842f3ab6"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4fQ0PjpPvv365P3k8Zqk"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4fQ0PjpPvv365P3k8Zqk/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4fQ0PjpPvv365P3k8Zqk","name":"TestTempUrl.test_on_file_named_timed.842f3ab6","class":"project","created":1540592218000,"modified":1540592218000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4fQ0PjpPvv365P3k8Zqk/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4fQ0PjpPvv365P3k8Zqk"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "temp_file.txt", "project": "project-FP9k4fQ0PjpPvv365P3k8Zqk",
      "folder": "/", "nonce": "2304ebf3a8ac7d0fe5a2dfd81cb39810687f3dfd50cded54da3f61e50507857a1540592218.642078"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4fQ0Pjp6zyV6JkV1p4KB"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4fQ0PjpPvv365P3k8Zqk/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4fQ0PjpPvv365P3k8Zqk","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4fQ0Pjp6zyV6JkV1p4KB/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/4401/file/open/file-FP9k4fQ0Pjp6zyV6JkV1p4KB/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221659Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=548db3bc090e5647b26e7c044e89393d928ade82df7df495ecee9f074d0b1339","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592339057}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/4401/file/open/file-FP9k4fQ0Pjp6zyV6JkV1p4KB/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T221659Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=548db3bc090e5647b26e7c044e89393d928ade82df7df495ecee9f074d0b1339
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [F7530B8512E0CB42]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k4fQ0PjpPvv365P3k8Zqk", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4fQ0Pjp6zyV6JkV1p4KB/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4fQ0Pjp6zyV6JkV1p4KB","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4fQ0Pjp6zyV6JkV1p4KB/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k4fQ0Pjp6zyV6JkV1p4KB"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestTempUrl.test_on_file_named_timed.842f3ab6",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k4fQ0PjpPvv365P3k8Zqk","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"objects": [{"name": "temp_file.txt", "project": "project-FP9k4fQ0PjpPvv365P3k8Zqk",
      "batchsize": 2, "folder": "/"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FP9k4fQ0PjpPvv365P3k8Zqk","id":"file-FP9k4fQ0Pjp6zyV6JkV1p4KB"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"preauthenticated": true, "project": "project-FP9k4fQ0PjpPvv365P3k8Zqk",
      "filename": "random.txt", "duration": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k4fQ0Pjp6zyV6JkV1p4KB/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D/Z9yQ3YP7B6jJj73pQ04xzJQj4vy5ZjY0YQXjYjP3/random.txt","headers":{},"expires":1540592223396}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://dl.dnanex.us/F/D/Z9yQ3YP7B6jJj73pQ04xzJQj4vy5ZjY0YQXjYjP3/random.txt
  response:
    body: {string: !!python/unicode data}
    headers:
      content-disposition: [attachment; filename="random.txt"]
      content-type: [text/plain]
      last-modified: ['Fri, 26 Oct 2018 22:17:00 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://dl.dnanex.us/F/D/Z9yQ3YP7B6jJj73pQ04xzJQj4vy5ZjY0YQXjYjP3/random.txt
  response:
    body: {string: !!python/unicode '{"error":{"type":"InvalidAuthentication","message":"The
        supplied authentication token has expired"}}'}
    headers:
      content-type: [application/octet-stream]
    status: {code: 401, message: Unauthorized}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k4fQ0PjpPvv365P3k8Zqk/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k4fQ0PjpPvv365P3k8Zqk"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
