interactions:
- request:
    body: !!python/unicode '{"name": "TestCopyTree.test_dx_root_to_dx_dir.3b19b67b"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8JQ0v6GxgPpv68VQGGgV"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8JQ0v6GxgPpv68VQGGgV/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8JQ0v6GxgPpv68VQGGgV","name":"TestCopyTree.test_dx_root_to_dx_dir.3b19b67b","class":"project","created":1540592694000,"modified":1540592694000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8JQ0v6GxgPpv68VQGGgV/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8JQ0v6GxgPpv68VQGGgV"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder_file", "project": "project-FP9k8JQ0v6GxgPpv68VQGGgV",
      "folder": "/temp_folder", "nonce": "faebec758f0cd3b896ef808b26a4e3e204e6725882d5a79738e5a11268906eaf1540592694.676412"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8JQ0v6Gf8ZBP51xK284Y"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8JQ0v6GxgPpv68VQGGgV/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8JQ0v6GxgPpv68VQGGgV","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8JQ0v6Gf8ZBP51xK284Y/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/4feb/file/open/file-FP9k8JQ0v6Gf8ZBP51xK284Y/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222454Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=95b9bd792e16a52af45f8cdbdf2ef6ea0ad3c6e4eacc0f488d0c1d70499e3f10","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592814987}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/4feb/file/open/file-FP9k8JQ0v6Gf8ZBP51xK284Y/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222454Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=95b9bd792e16a52af45f8cdbdf2ef6ea0ad3c6e4eacc0f488d0c1d70499e3f10
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [10B28C25AC4CA003]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k8JQ0v6GxgPpv68VQGGgV", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8JQ0v6Gf8ZBP51xK284Y/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8JQ0v6Gf8ZBP51xK284Y","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8JQ0v6Gf8ZBP51xK284Y/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8JQ0v6Gf8ZBP51xK284Y"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8KQ0v6Gf8ZBP51xK284b/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/384a/file/open/file-FP9k8KQ0v6Gf8ZBP51xK284b/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222458Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=f194c3c7f38cca11dacacf3f6a1eef898dbe34d936a7c69715b7bc2a5f7db37f","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592818518}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/384a/file/open/file-FP9k8KQ0v6Gf8ZBP51xK284b/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222458Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=f194c3c7f38cca11dacacf3f6a1eef898dbe34d936a7c69715b7bc2a5f7db37f
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [82AE0A93E5AE3020]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k8JQ0v6GxgPpv68VQGGgV", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8KQ0v6Gf8ZBP51xK284b/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8KQ0v6Gf8ZBP51xK284b","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8KQ0v6Gf8ZBP51xK284b/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8KQ0v6Gf8ZBP51xK284b"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestCopyTree.test_dx_root_to_dx_dir.3b19b67b",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k8JQ0v6GxgPpv68VQGGgV","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/folder", "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8P80k3bkZYkF52JZ1Vkb/listFolder
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        specified folder could not be found in project-FP9k8P80k3bkZYkF52JZ1Vkb"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8P80k3bkZYkF52JZ1Vkb/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8P80k3bkZYkF52JZ1Vkb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": false, "project": "project-FP9k8P80k3bkZYkF52JZ1Vkb",
      "destination": "/folder", "folders": ["/"], "objects": []}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8JQ0v6GxgPpv68VQGGgV/clone
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8JQ0v6GxgPpv68VQGGgV","project":"project-FP9k8P80k3bkZYkF52JZ1Vkb","exists":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"objects": [{"name": "folder_file", "project": "project-FP9k8P80k3bkZYkF52JZ1Vkb",
      "batchsize": 2, "folder": "/folder/temp_folder"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FP9k8P80k3bkZYkF52JZ1Vkb","id":"file-FP9k8JQ0v6Gf8ZBP51xK284Y"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k8P80k3bkZYkF52JZ1Vkb"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8JQ0v6Gf8ZBP51xK284Y/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8JQ0v6Gf8ZBP51xK284Y","project":"project-FP9k8P80k3bkZYkF52JZ1Vkb","class":"file","sponsored":false,"name":"folder_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/folder/temp_folder","tags":[],"created":1540592694000,"modified":1540592702749,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":4}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8P80k3bkZYkF52JZ1Vkb/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8P80k3bkZYkF52JZ1Vkb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8JQ0v6GxgPpv68VQGGgV/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8JQ0v6GxgPpv68VQGGgV"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
