interactions:
- request:
    body: !!python/unicode '{"name": "TestCopyTree.test_empty_path.4662e943"}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body:
      string: !!python/unicode '{"id":"project-FXFPP6801YyXv3Q32v06xKyz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/project-FXFPP6801YyXv3Q32v06xKyz/describe
  response:
    body:
      string: !!python/unicode '{"id":"project-FXFPP6801YyXv3Q32v06xKyz","name":"TestCopyTree.test_empty_path.4662e943","class":"project","created":1553397657000,"modified":1553397657000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"name": "TestCopyTree.test_empty_path.4662e943", "limit":
      2, "level": "VIEW"}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body:
      string: !!python/unicode '{"results":[{"id":"project-FXFPP6801YyXv3Q32v06xKyz","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
      DNAnexus-API:
      - 1.0.0
    method: POST
    uri: https://api.dnanexus.com/project-FXFPP6801YyXv3Q32v06xKyz/destroy
  response:
    body:
      string: !!python/unicode '{"id":"project-FXFPP6801YyXv3Q32v06xKyz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
