interactions:
- request:
    body: !!python/unicode '{"name": "TestCopyTree.test_dx_dir_to_dx_dir_same_project.7b6954c6"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k7g80xX0PxYfQJq0Qq9Pb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k7g80xX0PxYfQJq0Qq9Pb/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k7g80xX0PxYfQJq0Qq9Pb","name":"TestCopyTree.test_dx_dir_to_dx_dir_same_project.7b6954c6","class":"project","created":1540592605000,"modified":1540592605000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k7g80xX0PxYfQJq0Qq9Pb/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k7g80xX0PxYfQJq0Qq9Pb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder_file", "project": "project-FP9k7g80xX0PxYfQJq0Qq9Pb",
      "folder": "/temp_folder", "nonce": "b9590ad0fb22c8c99eb500e057446f662ec738c6c8632396fa227999384fe0e21540592605.763678"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k7g80xX05VJvpJkZZ2f74"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k7g80xX0PxYfQJq0Qq9Pb/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k7g80xX0PxYfQJq0Qq9Pb","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 5, "md5": "73dfff57fe24e807bd4fb1bc4e07cd73",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k7g80xX05VJvpJkZZ2f74/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/1f79/file/open/file-FP9k7g80xX05VJvpJkZZ2f74/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222326Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=e1ec75bb19ac11d56e52319a1630313e0e2ea47ab70da0662d1281c376ab61f6","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"c9//V/4k6Ae9T7G8TgfNcw=="},"expires":1540592726522}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data0
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [c9//V/4k6Ae9T7G8TgfNcw==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/1f79/file/open/file-FP9k7g80xX05VJvpJkZZ2f74/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222326Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=e1ec75bb19ac11d56e52319a1630313e0e2ea47ab70da0662d1281c376ab61f6
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"73dfff57fe24e807bd4fb1bc4e07cd73"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [B6882D511BB7C55D]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k7g80xX0PxYfQJq0Qq9Pb", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k7g80xX05VJvpJkZZ2f74/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k7g80xX05VJvpJkZZ2f74","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k7g80xX05VJvpJkZZ2f74/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k7g80xX05VJvpJkZZ2f74"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestCopyTree.test_dx_dir_to_dx_dir_same_project.7b6954c6",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k7g80xX0PxYfQJq0Qq9Pb","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/temp_folder", "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k7g80xX0PxYfQJq0Qq9Pb/listFolder
  response:
    body: {string: !!python/unicode '{"folders":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/new_folder/folder2", "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k7g80xX0PxYfQJq0Qq9Pb/listFolder
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        specified folder could not be found in project-FP9k7g80xX0PxYfQJq0Qq9Pb"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"folders": ["/temp_folder"], "destination": "/new_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k7g80xX0PxYfQJq0Qq9Pb/move
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k7g80xX0PxYfQJq0Qq9Pb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder2", "folder": "/new_folder/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k7g80xX0PxYfQJq0Qq9Pb/renameFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k7g80xX0PxYfQJq0Qq9Pb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"objects": [{"name": "folder_file", "project": "project-FP9k7g80xX0PxYfQJq0Qq9Pb",
      "batchsize": 2, "folder": "/new_folder/folder2"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FP9k7g80xX0PxYfQJq0Qq9Pb","id":"file-FP9k7g80xX05VJvpJkZZ2f74"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k7g80xX0PxYfQJq0Qq9Pb"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k7g80xX05VJvpJkZZ2f74/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k7g80xX05VJvpJkZZ2f74","project":"project-FP9k7g80xX0PxYfQJq0Qq9Pb","class":"file","sponsored":false,"name":"folder_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/new_folder/folder2","tags":[],"created":1540592605000,"modified":1540592608031,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":5}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k7g80xX0PxYfQJq0Qq9Pb/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k7g80xX0PxYfQJq0Qq9Pb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
