interactions:
- request:
    body: !!python/unicode '{"name": "TestCopyTree.test_dx_dir_to_posix.af9249e2"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k88j0qpVPvv365P3k8Zvq"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k88j0qpVPvv365P3k8Zvq/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k88j0qpVPvv365P3k8Zvq","name":"TestCopyTree.test_dx_dir_to_posix.af9249e2","class":"project","created":1540592675000,"modified":1540592675000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k88j0qpVPvv365P3k8Zvq/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k88j0qpVPvv365P3k8Zvq"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder_file.txt", "project": "project-FP9k88j0qpVPvv365P3k8Zvq",
      "folder": "/temp_folder", "nonce": "17acba77c1d9a5d048beabbf24cec97879f79f1a0a66be1d2e7b92385c477fd11540592675.427081"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k88j0qpVGf62VJp1k8pBJ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k88j0qpVPvv365P3k8Zvq/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k88j0qpVPvv365P3k8Zvq","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k88j0qpVGf62VJp1k8pBJ/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/44dd/file/open/file-FP9k88j0qpVGf62VJp1k8pBJ/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222435Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=d056ed2986e8b6d67900561e89411d2903c77ce3165752d180f7a80a522359a5","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592795745}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/44dd/file/open/file-FP9k88j0qpVGf62VJp1k8pBJ/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222435Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=d056ed2986e8b6d67900561e89411d2903c77ce3165752d180f7a80a522359a5
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [27C541725CE35C60]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k88j0qpVPvv365P3k8Zvq", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k88j0qpVGf62VJp1k8pBJ/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k88j0qpVGf62VJp1k8pBJ","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k88j0qpVGf62VJp1k8pBJ/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k88j0qpVGf62VJp1k8pBJ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k89Q0qpVPvv365P3k8Zvv/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0078/file/open/file-FP9k89Q0qpVPvv365P3k8Zvv/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222439Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=87e2ef518174d43d38be90ac36b4d7bdeeef3dd896368be55b93e2e10d2d1a10","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592799149}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0078/file/open/file-FP9k89Q0qpVPvv365P3k8Zvv/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222439Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=87e2ef518174d43d38be90ac36b4d7bdeeef3dd896368be55b93e2e10d2d1a10
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [CFD09AA357531BA7]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k88j0qpVPvv365P3k8Zvq", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k89Q0qpVPvv365P3k8Zvv/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k89Q0qpVPvv365P3k8Zvv","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k89Q0qpVPvv365P3k8Zvv/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k89Q0qpVPvv365P3k8Zvv"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestCopyTree.test_dx_dir_to_posix.af9249e2",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k88j0qpVPvv365P3k8Zvq","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"folders": true}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k88j0qpVPvv365P3k8Zvq/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k88j0qpVPvv365P3k8Zvq","name":"TestCopyTree.test_dx_dir_to_posix.af9249e2","class":"project","created":1540592675000,"modified":1540592679957,"billTo":"org-counsyl","level":"ADMINISTER","folders":["/","/temp_folder","/temp_folder/another_folder"],"dataUsage":7.450580596923828e-9,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":1.639127731323242e-10,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 100, "class": "file", "scope": {"recurse": true,
      "project": "project-FP9k88j0qpVPvv365P3k8Zvq", "folder": "/temp_folder"}, "state":
      "closed", "describe": {"fields": {"id": true, "folder": true, "name": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findDataObjects
  response:
    body: {string: !!python/unicode '{"next":null,"results":[{"project":"project-FP9k88j0qpVPvv365P3k8Zvq","id":"file-FP9k89Q0qpVPvv365P3k8Zvv","describe":{"id":"file-FP9k89Q0qpVPvv365P3k8Zvv","name":"temp_file.txt","folder":"/temp_folder/another_folder"}},{"project":"project-FP9k88j0qpVPvv365P3k8Zvq","id":"file-FP9k88j0qpVGf62VJp1k8pBJ","describe":{"id":"file-FP9k88j0qpVGf62VJp1k8pBJ","name":"folder_file.txt","folder":"/temp_folder"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k88j0qpVPvv365P3k8Zvq", "defaultFields":
      true, "fields": {"parts": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k89Q0qpVPvv365P3k8Zvv/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k89Q0qpVPvv365P3k8Zvv","project":"project-FP9k88j0qpVPvv365P3k8Zvq","class":"file","sponsored":false,"name":"temp_file.txt","types":[],"state":"closed","hidden":false,"links":[],"folder":"/temp_folder/another_folder","tags":[],"created":1540592678000,"modified":1540592679957,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","parts":{"1":{"state":"complete","size":4,"md5":"8d777f385d3dfec8815d20f7496026dc"}},"size":4}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"preauthenticated": false, "project": "project-FP9k88j0qpVPvv365P3k8Zvq"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k89Q0qpVPvv365P3k8Zvv/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FP9k89Q0qpVPvv365P3k8Zvv/project-FP9k88j0qpVPvv365P3k8Zvq","headers":{"X-Authorization":"xvikWJf5EfyoFK7ts58Kg01M23eflOAq"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      X-Authorization: [xvikWJf5EfyoFK7ts58Kg01M23eflOAq]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FP9k89Q0qpVPvv365P3k8Zvv/project-FP9k88j0qpVPvv365P3k8Zvq
  response:
    body: {string: !!python/unicode data}
    headers:
      content-disposition: [attachment]
      content-type: [text/plain]
      last-modified: ['Fri, 26 Oct 2018 22:24:40 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"preauthenticated": false, "project": "project-FP9k88j0qpVPvv365P3k8Zvq"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k88j0qpVGf62VJp1k8pBJ/download
  response:
    body: {string: !!python/unicode '{"url":"https://dl.dnanex.us/F/D2PRJ/file-FP9k88j0qpVGf62VJp1k8pBJ/project-FP9k88j0qpVPvv365P3k8Zvq","headers":{"X-Authorization":"xvikWJf5EfyoFK7ts58Kg01M23eflOAq"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 
    headers:
      DNAnexus-API: [1.0.0]
      X-Authorization: [xvikWJf5EfyoFK7ts58Kg01M23eflOAq]
    method: GET
    uri: https://dl.dnanex.us/F/D2PRJ/file-FP9k88j0qpVGf62VJp1k8pBJ/project-FP9k88j0qpVPvv365P3k8Zvq
  response:
    body: {string: !!python/unicode data}
    headers:
      content-disposition: [attachment]
      content-type: [text/plain]
      last-modified: ['Fri, 26 Oct 2018 22:24:37 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k88j0qpVPvv365P3k8Zvq/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k88j0qpVPvv365P3k8Zvq"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
