interactions:
- request:
    body: !!python/unicode '{"name": "TestCopyTree.test_dx_root_to_dx_root.47a64fb2"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8fQ09Pff8GXkJpbYfZzF"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8fQ09Pff8GXkJpbYfZzF/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8fQ09Pff8GXkJpbYfZzF","name":"TestCopyTree.test_dx_root_to_dx_root.47a64fb2","class":"project","created":1540592730000,"modified":1540592730000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8fQ09Pff8GXkJpbYfZzF/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8fQ09Pff8GXkJpbYfZzF"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "folder_file", "project": "project-FP9k8fQ09Pff8GXkJpbYfZzF",
      "folder": "/temp_folder", "nonce": "af2555b43bf84653746688b1bd2ac21dbba029d12f7f3af5b3aec373ac5db8b21540592730.335678"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8fQ09PfqPYg95F286zGF"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8fQ09Pff8GXkJpbYfZzF/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8fQ09Pff8GXkJpbYfZzF","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8fQ09PfqPYg95F286zGF/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/9661/file/open/file-FP9k8fQ09PfqPYg95F286zGF/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222530Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=1a89729e3b30c33ce8ae0244aa527bbc04199af87f17b0936a1e28e04371241a","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1540592850656}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/9661/file/open/file-FP9k8fQ09PfqPYg95F286zGF/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222530Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=1a89729e3b30c33ce8ae0244aa527bbc04199af87f17b0936a1e28e04371241a
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [CDE5355ED41673BD]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k8fQ09Pff8GXkJpbYfZzF", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8fQ09PfqPYg95F286zGF/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8fQ09PfqPYg95F286zGF","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8fQ09PfqPYg95F286zGF/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8fQ09PfqPYg95F286zGF"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestCopyTree.test_dx_root_to_dx_root.47a64fb2",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k8fQ09Pff8GXkJpbYfZzF","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8g801QQGf62VJp1k8pBb/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8g801QQGf62VJp1k8pBb","name":"test_dx_root_to_dx_root.TempProj","class":"project","created":1540592733000,"modified":1540592733000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/TestCopyTree.test_dx_root_to_dx_root.47a64fb2", "describe": {"fields": {"name":
      true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8g801QQGf62VJp1k8pBb/listFolder
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        specified folder could not be found in project-FP9k8g801QQGf62VJp1k8pBb"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/TestCopyTree.test_dx_root_to_dx_root.47a64fb2"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8g801QQGf62VJp1k8pBb/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8g801QQGf62VJp1k8pBb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": false, "project": "project-FP9k8g801QQGf62VJp1k8pBb",
      "destination": "/TestCopyTree.test_dx_root_to_dx_root.47a64fb2", "folders":
      ["/"], "objects": []}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8fQ09Pff8GXkJpbYfZzF/clone
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8fQ09Pff8GXkJpbYfZzF","project":"project-FP9k8g801QQGf62VJp1k8pBb","exists":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"objects": [{"name": "folder_file", "project": "project-FP9k8g801QQGf62VJp1k8pBb",
      "batchsize": 2, "folder": "/TestCopyTree.test_dx_root_to_dx_root.47a64fb2/temp_folder"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FP9k8g801QQGf62VJp1k8pBb","id":"file-FP9k8fQ09PfqPYg95F286zGF"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FP9k8g801QQGf62VJp1k8pBb"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k8fQ09PfqPYg95F286zGF/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k8fQ09PfqPYg95F286zGF","project":"project-FP9k8g801QQGf62VJp1k8pBb","class":"file","sponsored":false,"name":"folder_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/TestCopyTree.test_dx_root_to_dx_root.47a64fb2/temp_folder","tags":[],"created":1540592730000,"modified":1540592735091,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":4}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8g801QQGf62VJp1k8pBb/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8g801QQGf62VJp1k8pBb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k8fQ09Pff8GXkJpbYfZzF/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k8fQ09Pff8GXkJpbYfZzF"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
