interactions:
- request:
    body: !!python/unicode '{"name": "TestCopyTree.test_posix_dir_to_dx_nested.f00fa2a3"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k9J8064568GXkJpbYfZzZ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k9J8064568GXkJpbYfZzZ/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k9J8064568GXkJpbYfZzZ","name":"TestCopyTree.test_posix_dir_to_dx_nested.f00fa2a3","class":"project","created":1540592821000,"modified":1540592821000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestCopyTree.test_posix_dir_to_dx_nested.f00fa2a3",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FP9k9J8064568GXkJpbYfZzZ","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/temp_folder/", "describe": {"fields": {"name": true, "folder": true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k9J8064568GXkJpbYfZzZ/listFolder
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        specified folder could not be found in project-FP9k9J8064568GXkJpbYfZzZ"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"objects": [{"name": "file2.txt", "project": "project-FP9k9J8064568GXkJpbYfZzZ",
      "batchsize": 2, "folder": "/temp_folder/folder"}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "name": "file2.txt", "project": "project-FP9k9J8064568GXkJpbYfZzZ",
      "folder": "/temp_folder/folder", "nonce": "e8a6ca840b29bbb6dcbcb6fd702f5da7808b81c31c622ba033ec501b4afd3ee71540592822.472349"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k9JQ0645PxYfQJq0Qq9Q6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k9J8064568GXkJpbYfZzZ/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k9J8064568GXkJpbYfZzZ","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"size": 5, "md5": "89d903bc35dede724fd52c51437ff5fd",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k9JQ0645PxYfQJq0Qq9Q6/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0f37/file/open/file-FP9k9JQ0645PxYfQJq0Qq9Q6/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222702Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=8413b874073aaaa024ce077040758d7d5a382ee4c908ecfa5c98fd5fc52faf7f","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"idkDvDXe3nJP1SxRQ3/1/Q=="},"expires":1540592942790}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data1
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [idkDvDXe3nJP1SxRQ3/1/Q==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/0f37/file/open/file-FP9k9JQ0645PxYfQJq0Qq9Q6/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222702Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=8413b874073aaaa024ce077040758d7d5a382ee4c908ecfa5c98fd5fc52faf7f
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"89d903bc35dede724fd52c51437ff5fd"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [0968A7C009BDA5B4]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k9JQ0645PxYfQJq0Qq9Q6/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k9JQ0645PxYfQJq0Qq9Q6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"size": 5, "md5": "73dfff57fe24e807bd4fb1bc4e07cd73",
      "index": 1}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k9Jj0645PxYfQJq0Qq9Q8/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/1d2d/file/open/file-FP9k9Jj0645PxYfQJq0Qq9Q8/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222703Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=f349b4e613ee5690b72e7856c331e211f09f4d314561a9ba92c851c579bf4a44","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"c9//V/4k6Ae9T7G8TgfNcw=="},"expires":1540592943845}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data0
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [c9//V/4k6Ae9T7G8TgfNcw==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/1d2d/file/open/file-FP9k9Jj0645PxYfQJq0Qq9Q8/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181026T222703Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=f349b4e613ee5690b72e7856c331e211f09f4d314561a9ba92c851c579bf4a44
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"73dfff57fe24e807bd4fb1bc4e07cd73"']
      x-amz-expiration: ['expiry-date="Sat, 17 Nov 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [F041E3024932ECD6]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k9Jj0645PxYfQJq0Qq9Q8/close
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k9Jj0645PxYfQJq0Qq9Q8"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"parents": true, "folder": "/temp_folder/folder/folder2"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k9J8064568GXkJpbYfZzZ/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k9J8064568GXkJpbYfZzZ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"project": "project-FP9k9J8064568GXkJpbYfZzZ"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FP9k9Jj0645PxYfQJq0Qq9Q8/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FP9k9Jj0645PxYfQJq0Qq9Q8","project":"project-FP9k9J8064568GXkJpbYfZzZ","class":"file","sponsored":false,"name":"file.txt","types":[],"state":"closing","hidden":false,"links":[],"folder":"/temp_folder/folder","tags":[],"created":1540592823000,"modified":1540592824155,"createdBy":{"user":"user-akumar_counsyl"},"media":"","archivalState":"live"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"includeHidden": false, "only": "folders", "folder":
      "/temp_folder/folder/folder2", "describe": {"fields": {"name": true, "folder":
      true}}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k9J8064568GXkJpbYfZzZ/listFolder
  response:
    body: {string: !!python/unicode '{"folders":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FP9k9J8064568GXkJpbYfZzZ/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FP9k9J8064568GXkJpbYfZzZ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
