interactions:
- request:
    body: !!python/unicode '{"name": "TestCopyTree.test_dx_root_to_dx_root.b59d08cd"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY9vj08gFZP61Q4bjV0pQf"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY9vj08gFZP61Q4bjV0pQf/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY9vj08gFZP61Q4bjV0pQf","name":"TestCopyTree.test_dx_root_to_dx_root.b59d08cd","class":"project","created":1542141171000,"modified":1542141171000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"folder": "/temp_folder", "parents": true}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY9vj08gFZP61Q4bjV0pQf/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY9vj08gFZP61Q4bjV0pQf"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPbY9vj08gFZP61Q4bjV0pQf", "nonce":
      "22ee95e00cab6d997ebd2e563df79971aa48a7e01118909188247b8a6a1b85781542141171.847634",
      "folder": "/temp_folder", "name": "folder_file"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPbY9vj08gFVgVFg2KzVq4Jf"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY9vj08gFZP61Q4bjV0pQf/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY9vj08gFZP61Q4bjV0pQf","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"index": 1, "size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbY9vj08gFVgVFg2KzVq4Jf/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/462a/file/open/file-FPbY9vj08gFVgVFg2KzVq4Jf/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181113%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181113T203252Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=d67782a65fbcb441668b1ff253926e2dfc0e69a4dfaf69fc6cd1c225d2f8d6dd","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1542141292150}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/462a/file/open/file-FPbY9vj08gFVgVFg2KzVq4Jf/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181113%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181113T203252Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=d67782a65fbcb441668b1ff253926e2dfc0e69a4dfaf69fc6cd1c225d2f8d6dd
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Wed, 05 Dec 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [110F9E8CAEC305E5]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPbY9vj08gFZP61Q4bjV0pQf", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbY9vj08gFVgVFg2KzVq4Jf/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPbY9vj08gFVgVFg2KzVq4Jf","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbY9vj08gFVgVFg2KzVq4Jf/close
  response:
    body: {string: !!python/unicode '{"id":"file-FPbY9vj08gFVgVFg2KzVq4Jf"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "TestCopyTree.test_dx_root_to_dx_root.b59d08cd",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPbY9vj08gFZP61Q4bjV0pQf","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY9xj0Yvv983Zv4x93BjF6/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY9xj0Yvv983Zv4x93BjF6","name":"test_dx_root_to_dx_root.TempProj","class":"project","created":1542141175000,"modified":1542141175000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"folder": "/TestCopyTree.test_dx_root_to_dx_root.b59d08cd",
      "describe": {"fields": {"folder": true, "name": true}}, "only": "folders", "includeHidden":
      false}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY9xj0Yvv983Zv4x93BjF6/listFolder
  response:
    body: {string: !!python/unicode '{"error":{"type":"ResourceNotFound","message":"The
        specified folder could not be found in project-FPbY9xj0Yvv983Zv4x93BjF6"}}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"folder": "/TestCopyTree.test_dx_root_to_dx_root.b59d08cd",
      "parents": true}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY9xj0Yvv983Zv4x93BjF6/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY9xj0Yvv983Zv4x93BjF6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"folders": ["/"], "project": "project-FPbY9xj0Yvv983Zv4x93BjF6",
      "destination": "/TestCopyTree.test_dx_root_to_dx_root.b59d08cd", "objects":
      [], "parents": false}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY9vj08gFZP61Q4bjV0pQf/clone
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY9vj08gFZP61Q4bjV0pQf","project":"project-FPbY9xj0Yvv983Zv4x93BjF6","exists":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"objects": [{"project": "project-FPbY9xj0Yvv983Zv4x93BjF6",
      "folder": "/TestCopyTree.test_dx_root_to_dx_root.b59d08cd/temp_folder", "name":
      "folder_file", "batchsize": 2}]}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/resolveDataObjects
  response:
    body: {string: !!python/unicode '{"results":[[{"project":"project-FPbY9xj0Yvv983Zv4x93BjF6","id":"file-FPbY9vj08gFVgVFg2KzVq4Jf"}]]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPbY9xj0Yvv983Zv4x93BjF6"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbY9vj08gFVgVFg2KzVq4Jf/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPbY9vj08gFVgVFg2KzVq4Jf","project":"project-FPbY9xj0Yvv983Zv4x93BjF6","class":"file","sponsored":false,"name":"folder_file","types":[],"state":"closed","hidden":false,"links":[],"folder":"/TestCopyTree.test_dx_root_to_dx_root.b59d08cd/temp_folder","tags":[],"created":1542141171000,"modified":1542141176267,"createdBy":{"user":"user-akumar_counsyl"},"media":"text/plain","archivalState":"live","size":4}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY9xj0Yvv983Zv4x93BjF6/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY9xj0Yvv983Zv4x93BjF6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbY9vj08gFZP61Q4bjV0pQf/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPbY9vj08gFZP61Q4bjV0pQf"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
