interactions:
- request:
    body: !!python/unicode '{"name": "TestCopyTree.test_move_diff_project_fail.69945e3b"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project/new
  response:
    body: {string: !!python/unicode '{"id":"project-FPbYB8Q06gJZk4Yj0JJ926x6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbYB8Q06gJZk4Yj0JJ926x6/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPbYB8Q06gJZk4Yj0JJ926x6","name":"TestCopyTree.test_move_diff_project_fail.69945e3b","class":"project","created":1542141218000,"modified":1542141218000,"billTo":"org-counsyl","level":"ADMINISTER","dataUsage":0,"sponsoredDataUsage":0,"region":"aws:us-east-1","summary":"","description":"","protected":false,"restricted":false,"downloadRestricted":false,"containsPHI":false,"createdBy":{"user":"user-akumar_counsyl"},"version":0,"storageCost":0,"pendingTransfer":null,"tags":[],"defaultInstanceType":"mem2_hdd2_x2","archivalState":"live","archivalProgress":null,"totalSponsoredEgressBytes":0,"consumedSponsoredEgressBytes":0,"atSpendingLimit":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"folder": "/", "parents": true}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbYB8Q06gJZk4Yj0JJ926x6/newFolder
  response:
    body: {string: !!python/unicode '{"id":"project-FPbYB8Q06gJZk4Yj0JJ926x6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPbYB8Q06gJZk4Yj0JJ926x6", "nonce":
      "864ce3e2ed603c46e3bf2271ad9748c720f92f38458ae72e9f576c56d3f74f731542141218.804120",
      "folder": "/", "name": "temp_folderfolder_file.txt"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file/new
  response:
    body: {string: !!python/unicode '{"id":"file-FPbYB8Q06gJZk4Yj0JJ926x7"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"fields": {"fileUploadParameters": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbYB8Q06gJZk4Yj0JJ926x6/describe
  response:
    body: {string: !!python/unicode '{"id":"project-FPbYB8Q06gJZk4Yj0JJ926x6","fileUploadParameters":{"maximumPartSize":5368709120,"minimumPartSize":5242880,"maximumFileSize":5497558138880,"maximumNumParts":10000,"emptyLastPartAllowed":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"index": 1, "size": 4, "md5": "8d777f385d3dfec8815d20f7496026dc"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbYB8Q06gJZk4Yj0JJ926x7/upload
  response:
    body: {string: !!python/unicode '{"url":"https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/7cc7/file/open/file-FPbYB8Q06gJZk4Yj0JJ926x7/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181113%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181113T203339Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=c086b360a243489d2c7eb80ef6abffd8a09d838f789f1d57839e5bae605b3f2b","headers":{"content-type":"binary/octet-stream", "x-amz-server-side-encryption":"AES256", "content-md5":"jXd/OF09/siBXSD3SWAm3A=="},"expires":1542141339128}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode data
    headers:
      DNAnexus-API: [1.0.0]
      content-md5: [jXd/OF09/siBXSD3SWAm3A==]
      content-type: [binary/octet-stream]
      x-amz-server-side-encryption: [AES256]
    method: PUT
    uri: https://dnanexus-platform-upload-prod.s3.amazonaws.com/filev2/7cc7/file/open/file-FPbYB8Q06gJZk4Yj0JJ926x7/1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJDCC37XBLBSWJBVQ%2F20181113%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181113T203339Z&X-Amz-Expires=120&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost%3Bx-amz-server-side-encryption&X-Amz-Signature=c086b360a243489d2c7eb80ef6abffd8a09d838f789f1d57839e5bae605b3f2b
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"8d777f385d3dfec8815d20f7496026dc"']
      x-amz-expiration: ['expiry-date="Wed, 05 Dec 2018 00:00:00 GMT", rule-id="3weekpurge"']
      x-amz-request-id: [798F07503147B9A8]
      x-amz-server-side-encryption: [AES256]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"project": "project-FPbYB8Q06gJZk4Yj0JJ926x6", "fields":
      {"state": true}}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbYB8Q06gJZk4Yj0JJ926x7/describe
  response:
    body: {string: !!python/unicode '{"id":"file-FPbYB8Q06gJZk4Yj0JJ926x7","state":"open"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/file-FPbYB8Q06gJZk4Yj0JJ926x7/close
  response:
    body: {string: !!python/unicode '{"id":"file-FPbYB8Q06gJZk4Yj0JJ926x7"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"limit": 2, "name": "test_move_diff_project_fail.TempProj",
      "level": "VIEW"}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/system/findProjects
  response:
    body: {string: !!python/unicode '{"results":[{"id":"project-FPbYB9Q085gj2gzq1k0gg2zy","level":"ADMINISTER","permissionSources":["user-akumar_counsyl"],"public":false}],"next":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbYB9Q085gj2gzq1k0gg2zy/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPbYB9Q085gj2gzq1k0gg2zy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      DNAnexus-API: [1.0.0]
    method: POST
    uri: https://api.dnanexus.com/project-FPbYB8Q06gJZk4Yj0JJ926x6/destroy
  response:
    body: {string: !!python/unicode '{"id":"project-FPbYB8Q06gJZk4Yj0JJ926x6"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
